<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<th:block
    th:replace="~{/dashboard/layout/dashboard_layout :: setContent(~{this :: head} ,~{this :: content}, ~{this :: scripts})}">

    <th:block th:fragment="head">
        <meta name="author" content="VJCommando">
        <meta name="description" content="LETS - My Page">
        <title>LETS - My Page</title>

        <link href="/dashboard/vendor/dropzone.css" rel="stylesheet">
    </th:block>

    <th:block th:fragment="content">
        <!-- Content -->
        <div class="content-wrapper">
            <div class="container-fluid">
                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a th:href="@{/mypage}" href="/member_mypage/index.html">My page</a>
                    </li>
                    <li class="breadcrumb-item active">My page</li>
                </ol>
                <form>
                    <div class="box_general padding_bottom">
                        <div class="header_box version_2">
                            <h2><i class="fa fa-user"></i>나의 프로필</h2>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>Your photo</label>
                                    <form action="/file-upload" class="dropzone"></form>
                                </div>
                            </div>
                            <div class="col-md-7 add_top_30">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label th:for="email">이메일</label>
                                            <input th:id="email" th:name="email" th:value="${member.email}" type="text"
                                                   class="form-control" placeholder="Your Email" disabled>
                                        </div>
                                    </div>
                                </div>
                                <!-- /row-->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label th:for="name">이름</label>
                                            <input th:id="name" th:name="name" th:value="${member.name}" type="text"
                                                   class="form-control" placeholder="Your Name">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label th:for="phoneNumber">전화번호</label>
                                            <input th:id="phoneNumber" th:name="phoneNumber"
                                                   th:value="${member.phoneNumber}" type="text" class="form-control"
                                                   placeholder="Your Phone Number">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label th:for="gender">성별</label>
                                            <div class="styled-select">
                                                <select th:id="gender" th:name="gender">
                                                    <option th:value="male" th:selected="${member.gender} == 'male'">
                                                        남성
                                                    </option>
                                                    <option th:value="female"
                                                            th:selected="${member.gender} == 'female'">
                                                        여성
                                                    </option>
                                                    <option th:value="others"
                                                            th:selected="${member.gender} == 'others'">
                                                        기타
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label th:for="age">나이</label>
                                            <input th:id="age" th:name="age" th:value="${member.age}" type="number"
                                                   class="form-control" placeholder="Your AGE">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /box_general-->
                    <div class="d-flex flex-row-reverse">
                        <a href="#" class="btn_1 medium mx-1">저장</a>
                        <a href="#" class="btn_1 medium mx-1">수정</a>
                    </div>
                </form>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /.container-wrapper -->
        <!-- /Content -->
    </th:block>

    <th:block th:fragment="scripts">
        <!-- Custom scripts for this page -->
        <script src="/dashboard/vendor/dropzone.min.js"></script>
        <!-- /custom scripts -->
    </th:block>

</th:block>

</html>