<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block
    th:replace="~{/dashboard/layout/dashboard_layout :: setContent(~{this :: head} ,~{this :: content}, ~{this :: scripts})}">

    <th:block th:fragment="head">
        <meta name="author" content="VJCommando">
        <meta name="description" content="LETS - My Page">
        <title>LETS - My Page</title>

        <link href="/dashboard/vendor/animate.min.css" rel="stylesheet">
        <link href="/dashboard/vendor/magnific-popup.css" rel="stylesheet">
    </th:block>

    <th:block th:fragment="content">
        <!-- Content -->
        <div class="content-wrapper">
            <div class="container-fluid">
                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/dashboard/member/mypage.html">My page</a>
                    </li>
                    <li class="breadcrumb-item active">Bookings list</li>
                </ol>
                <div class="box_general">
                    <div class="header_box">
                        <h2 class="d-inline-block">예약확인 및 리뷰작성</h2>
                        <div class="filter">
                            <div class="styled-select short">
                                <select name="type" id="orderType">
                                    <option th:selected="${pagination.params.type == 'all'}" value="all">전체</option>
                                    <option th:selected="${pagination.params.type == 'complete'}" value="complete">예약
                                        완료
                                    </option>
                                    <option th:selected="${pagination.params.type == 'cancel'}" value="cancel">예약 취소
                                    </option>
                                    <option th:selected="${pagination.params.type == 'use'}" value="use">이용 완료</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="list_general">
                        <ul>
                            <li th:each="reservation, index : ${reservationList}">
                                <figure><img src="/dashboard/img/item_2.jpg" alt=""></figure>
                                <h4>
                                    <th:block th:text="${reservation.get('cafeName')}"></th:block>
                                    <th:block th:switch="${reservation.get('reservationStatus')}">
                                        <i th:case="complete" class="approved ml-1">예약 완료</i>
                                        <i th:case="cancel" class="cancel ml-1">예약 취소</i>
                                        <i th:case="use" class="approved ml-1" style="background-color: gray;">이용 완료</i>
                                    </th:block>
                                </h4>
                                <ul class="booking_list">
                                    <li><strong>예약 날짜</strong>
                                        <th:block th:text="${reservation.get('bookingDate')}"></th:block>
                                    </li>
                                    <li><strong>예약 시간</strong>
                                        <th:block
                                            th:text="|${reservation.get('startTime')}시 - ${reservation.get('endTime')}시|"></th:block>
                                    </li>
                                    <li><strong>예약 인원수</strong>
                                        <th:block th:text="${reservation.get('headCount')}"></th:block>
                                        명
                                    </li>
                                    <li><strong>룸 정보</strong>
                                        <th:block th:text="${reservation.get('roomName')}"></th:block>
                                    </li>
                                    <li><strong>결제 방법</strong>
                                        <th:block th:switch="${reservation.get('paymentType')}">
                                            <th:block th:case="card">신용카드</th:block>
                                            <th:block th:case="transfer">계좌이체</th:block>
                                            <th:block th:case="noBankbook">무통장입금</th:block>
                                        </th:block>
                                        (
                                        <th:block th:switch="${reservation.get('payStatus')}">
                                            <th:block th:case="success">결제 완료</th:block>
                                            <th:block th:case="fail">결제 실패</th:block>
                                        </th:block>
                                        )
                                    </li>
                                </ul>

                                <!-- reservation status is complete -->
                                <th:block th:if="${reservation.get('reservationStatus') == 'complete'}">
                                    <ul class="buttons inline-popups">
                                        <li>
                                            <a th:href="|#modal-cancel_${index.count}|" href="#"
                                               class="btn_1 gray delete">
                                                <i class="fa fa-fw fa-times-circle-o mr-1"></i>
                                                예약 취소
                                            </a>
                                        </li>
                                    </ul>
                                    <!-- reservation to delete popup -->
                                    <div th:id="|modal-cancel_${index.count}|" id="modal-delete"
                                         class="white-popup mfp-with-anim mfp-hide">
                                        <form th:action="@{/mypage/reservation}" th:method="post">
                                            <div class="small-dialog-header">
                                                <h3>예약 취소</h3>
                                            </div>
                                            <div class="row justify-content-center message-reply margin-top-0">
                                                <div class="col-8 align-self-center">
                                                    <p class="m-0">정말로 해당 예약를 취소하시겠습니까</p>
                                                </div>
                                                <input th:name="reservationId" th:value="${reservation.get('id')}"
                                                       readonly hidden>
                                                <div class="col-auto align-self-center">
                                                    <button th:name="requestType" th:value="cancel" type="submit"
                                                            class="btn_1 gray delete">
                                                        <i class="fa fa-fw fa-times-circle-o mr-1"></i>
                                                        예약 취소
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </th:block>

                                <!-- reservation status is use -->
                                <th:block
                                    th:if="${reservation.get('reservationStatus') == 'use' && reservation.get('reviewBoolean') == 'false'}">
                                    <p class="inline-popups">
                                        <a th:href="|#modal-register_${index.count}|" href="#modal-reply"
                                           data-effect="mfp-zoom-in" class="btn_1 gray">
                                            <i class="fa fa-fw fa-pencil mr-1"></i>
                                            리뷰 작성
                                        </a>
                                    </p>
                                    <!-- register to review popup -->
                                    <div th:id="|modal-register_${index.count}|" id="modal-register"
                                         class="white-popup mfp-with-anim mfp-hide">
                                        <form th:action="@{/mypage/reservation}" th:method="post"
                                              th:object="${reviewForm}">
                                            <div class="small-dialog-header">
                                                <h3>리뷰 작성</h3>
                                            </div>
                                            <div>
                                                <div class="form-group">
                                                    <select id="rating" name="rating" required>
                                                        <option th:value="1">1</option>
                                                        <option th:value="2">2</option>
                                                        <option th:value="3">3</option>
                                                        <option th:value="4">4</option>
                                                        <option th:value="5">5</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="message-reply margin-top-0">
                                                <div class="form-group">
                                                <textarea th:field="*{content}"
                                                          cols="40" rows="3" class="form-control" required></textarea>
                                                </div>
                                                <input th:name="reservationId" th:value="${reservation.get('id')}"
                                                       readonly hidden>
                                                <button th:name="requestType" th:value="review" type="submit"
                                                        class="btn_1">
                                                    <i class="fa fa-fw fa-pencil mr-1"></i>
                                                    리뷰 작성
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </th:block>

                                <th:block
                                    th:if="${reservation.get('reservationStatus') == 'use' && reservation.get('reviewBoolean') == 'true'}">
                                    <div data-effect="mfp-zoom-in" class="btn_999 gray">리뷰 작성 완료</div>
                                </th:block>

                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /box_general-->
                <nav aria-label="...">
                    <ul class="pagination pagination-sm add_bottom_30">
                        <li class="page-item">
                            <a th:if="${pagination.showPrevious}"
                               th:href="@{|?page=${pagination.previousStartPage}&type=${pagination.params.type}|}"
                               class="page-link" href="#"
                               tabindex="-1">&lt;&lt;</a>
                        </li>
                        <th:block
                            th:each="i : ${#numbers.sequence(pagination.getStartPage(), pagination.getEndPage())}">
                            <li th:if="${i == pagination.params.requestPage}" class="page-item active">
                                <a th:text="${i}" class="page-link">1</a>
                            </li>
                            <li th:if="${i != pagination.params.requestPage && i > 0}" class="page-item">
                                <a th:href="@{|?page=${i}&type=${pagination.params.type}|}"
                                   th:text="${i}" class="page-link" href="#">2
                                </a>
                            </li>
                        </th:block>
                        <li class="page-item">
                            <a th:if="${pagination.showNext}"
                               th:href="@{|?page=${pagination.nextStartPage}&type=${pagination.params.type}|}"
                               class="page-link" href="#">&gt;&gt;</a>
                        </li>
                    </ul>
                </nav>
                <!-- /pagination-->
            </div>
            <!-- /container-fluid-->
        </div>
        <!-- /container-wrapper-->
        <!-- /Content -->
    </th:block>

    <th:block th:fragment="scripts">
        <script th:inline="javascript">
            document.querySelector('#orderType').addEventListener('change', (event) => {
                location.href = `?type=${event.target.value}`;
            })
        </script>
    </th:block>

</th:block>

</html>