<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block
    th:replace="~{/dashboard/layout/dashboard_layout :: setContent(~{this :: head} ,~{this :: content}, ~{this :: scripts})}">

    <th:block th:fragment="head">
        <meta name="author" content="VJCommando">
        <meta name="description" content="LETS - My Page">
        <title>LETS - My Page</title>
    </th:block>

    <th:block th:fragment="content">
        <!-- Content -->
        <div class="content-wrapper">
            <div class="container-fluid">
                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/dashboard/member/mypage.html">My page</a>
                    </li>
                    <li class="breadcrumb-item active">Wishlist</li>
                </ol>
                <div class="box_general">
                    <div class="header_box">
                        <h2 class="d-inline-block">찜 목록</h2>
                        <div class="filter">
                            <div class="styled-select short">
                                <select name="orderby">
                                    <option value="Any time">Any time</option>
                                    <option value="Latest">Latest</option>
                                    <option value="Oldest">Oldest</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="list_general">
                        <ul>
                            <li>
                                <figure><img src="/dashboard/img/item_1.jpg" alt=""></figure>
                                <small>Hotel</small>
                                <h4>Hotel Mariott</h4>
                                <p>Lorem ipsum dolor sit amet, est ei idque voluptua copiosae, pro detracto disputando
                                    reformidans at, ex
                                    vel suas eripuit. Vel alii zril maiorum ex, mea id sale eirmod epicurei. Sit te
                                    possit
                                    senserit, eam
                                    alia veritus maluisset ei, id cibo vocent ocurreret per....</p>
                                <p><a href="#0" class="btn_1 gray"><i class="fa fa-fw fa-eye"></i> View item</a></p>
                                <ul class="buttons">
                                    <li><a href="#0" class="btn_1 gray delete wishlist_close"><i
                                        class="fa fa-fw fa-times-circle-o"></i>
                                        Cancel</a></li>
                                </ul>
                            </li>
                            <li>
                                <figure><img src="/dashboard/img/item_2.jpg" alt=""></figure>
                                <small>Restaurant</small>
                                <h4>Da Alfredo</h4>
                                <p>Lorem ipsum dolor sit amet, est ei idque voluptua copiosae, pro detracto disputando
                                    reformidans at, ex
                                    vel suas eripuit. Vel alii zril maiorum ex, mea id sale eirmod epicurei. Sit te
                                    possit
                                    senserit, eam
                                    alia veritus maluisset ei, id cibo vocent ocurreret per....</p>
                                <p><a href="#0" class="btn_1 gray"><i class="fa fa-fw fa-eye"></i> View item</a></p>
                                <ul class="buttons">
                                    <li><a href="#0" class="btn_1 gray delete wishlist_close"><i
                                        class="fa fa-fw fa-times-circle-o"></i>
                                        Cancel</a></li>
                                </ul>
                            </li>
                            <li>
                                <figure><img src="/dashboard/img/item_3.jpg" alt=""></figure>
                                <small>Museum</small>
                                <h4>Pompidue</h4>
                                <p>Lorem ipsum dolor sit amet, est ei idque voluptua copiosae, pro detracto disputando
                                    reformidans at, ex
                                    vel suas eripuit. Vel alii zril maiorum ex, mea id sale eirmod epicurei. Sit te
                                    possit
                                    senserit, eam
                                    alia veritus maluisset ei, id cibo vocent ocurreret per....</p>
                                <p><a href="#0" class="btn_1 gray"><i class="fa fa-fw fa-eye"></i> View item</a></p>
                                <ul class="buttons">
                                    <li><a href="#0" class="btn_1 gray delete wishlist_close"><i
                                        class="fa fa-fw fa-times-circle-o"></i>
                                        Cancel</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /box_general-->
                <nav aria-label="...">
                    <ul class="pagination pagination-sm add_bottom_30">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
                <!-- /pagination-->
            </div>
            <!-- /container-fluid-->
        </div>
        <!-- /container-wrapper-->
        <!-- /Content -->
    </th:block>

    <th:block th:fragment="scripts">
        <!-- Custom scripts for this page -->
        <!-- /custom scripts -->
    </th:block>

</th:block>

</html>