<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block
    th:replace="~{/dashboard/layout/dashboard_layout :: setContent(~{this :: head} ,~{this :: content}, ~{this :: scripts})}">

    <th:block th:fragment="head">
        <meta name="author" content="VJCommando">
        <meta name="description" content="LETS - Admin Dashboard">
        <title>LETS - Admin Dashboard</title>

        <link href="/dashboard/css/date_picker.css" rel="stylesheet">
    </th:block>

    <th:block th:fragment="content">
        <!-- Content -->
        <div class="content-wrapper">
            <div class="container-fluid">
                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="admin_dashboard.html">대시보드</a>
                    </li>
                    <li class="breadcrumb-item active">입점 신청목록</li>
                </ol>
                <div class="box_general">
                    <div class="header_box">
                        <h2 class="d-inline-block">입점 신청목록</h2>
                    </div>
                    <div class="list_general">
                        <ul>
                            <li>
                                <figure><img src="img/item_1.jpg" alt=""></figure>
                                <h4>Hotel Mariott <i class="pending">보류</i></h4>
                                <ul class="booking_list">
                                    <li><strong>이메일</strong> <a href="#0">hong@gmail.com</a></li>
                                    <li><strong>상호명</strong> 가나다라카페</li>
                                    <li><strong>사업자명</strong> 홍길동</li>
                                    <li><strong>전화번호</strong> 010-0000-0000</li>
                                    <li><strong>사업자 등록번호</strong> 000-00-000000</li>
                                    <li><strong>업체설명</strong></li>
                                    <li>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla fuga repellat
                                            quidem
                                            modi.
                                            Necessitatibus expedita sed corrupti mollitia aperiam quibusdam accusantium
                                            ut quasi
                                            quia ullam,
                                            sunt officia aliquid saepe temporibus.</p>
                                    </li>
                                </ul>
                                <ul class="buttons">
                                    <li><a href="#0" class="btn_1 gray approve"><i
                                        class="fa fa-fw fa-check-circle-o"></i>승인</a>
                                    </li>
                                    <li><a href="#0" class="btn_1 gray delete"><i
                                        class="fa fa-fw fa-times-circle-o"></i>거부</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <figure><img src="img/item_2.jpg" alt=""></figure>
                                <h4>Da Alfredo <i class="cancel">거부</i></h4>
                                <ul class="booking_list">
                                    <li><strong>이메일</strong> <a href="#0">hong@gmail.com</a></li>
                                    <li><strong>상호명</strong> 가나다라카페</li>
                                    <li><strong>사업자명</strong> 홍길동</li>
                                    <li><strong>전화번호</strong> 010-0000-0000</li>
                                    <li><strong>사업자 등록번호</strong> 000-00-000000</li>
                                    <li><strong>업체설명</strong></li>
                                    <li>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla fuga repellat
                                            quidem
                                            modi.
                                            Necessitatibus expedita sed corrupti mollitia aperiam quibusdam accusantium
                                            ut quasi
                                            quia ullam,
                                            sunt officia aliquid saepe temporibus.</p>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <figure><img src="img/item_3.jpg" alt=""></figure>
                                <h4>Pompidue Museum <i class="approved">승인</i></h4>
                                <ul class="booking_list">
                                    <li><strong>이메일</strong> <a href="#0">hong@gmail.com</a></li>
                                    <li><strong>상호명</strong> 가나다라카페</li>
                                    <li><strong>사업자명</strong> 홍길동</li>
                                    <li><strong>전화번호</strong> 010-0000-0000</li>
                                    <li><strong>사업자 등록번호</strong> 000-00-000000</li>
                                    <li><strong>업체설명</strong></li>
                                    <li>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla fuga repellat
                                            quidem
                                            modi.
                                            Necessitatibus expedita sed corrupti mollitia aperiam quibusdam accusantium
                                            ut quasi
                                            quia ullam,
                                            sunt officia aliquid saepe temporibus.</p>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /box_general-->
                <nav aria-label="...">
                    <ul class="pagination pagination-sm add_bottom_30">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
                <!-- /pagination-->
            </div>
            <!-- /container-fluid-->
        </div>
        <!-- /container-wrapper-->
        <!-- /Content -->
    </th:block>

    <th:block th:fragment="scripts">
        <!-- Custom scripts for this page -->
        <script src="/dashboard/vendor/bootstrap-datepicker.js"></script>
        <script th:inline="javascript">
            $('input.date-pick').datepicker();
        </script>
        <!-- /custom scripts -->
    </th:block>

</th:block>

</html>