<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vj.lets.domain.article.mapper.ArticleMapper">

    <!-- 게시글 생성 -->
    <insert id="create" parameterType="Article">
        INSERT INTO article(ID, TITLE, CONTENT, MEMBER_ID)
        VALUES (ARTICLE_ID_SEQ.NEXTVAL, #{title}, #{content} , #{memberId})
    </insert>

    <!-- 게시글 수정 -->
    <update id="update" parameterType="Article">
        UPDATE Article
        <set>
            <if test="title != null or title != ''">title = #{title},</if>
            <if test="content != null or content != ''">content = #{content}</if>
        </set>
        WHERE ID = #{id}
    </update>

    <!-- 게시글 삭제 -->
    <update id="delete" parameterType="int">
        UPDATE Article
        SET status = 'disabled'
        WHERE ID = #{id}
    </update>

    <!--게시글 목록-->
    <select id="findAll" resultType="Article" >
        SELECT
            a.id,
            a.title,
            a.content,
            TO_CHAR(a.regdate, 'YYYY-MM-DD HH24:MI') regdate,
            m.NAME
        FROM
            article a JOIN MEMBER m ON a.MEMBER_ID = m.ID
        WHERE a.STATUS = 'enabled'
        ORDER BY a.regdate desc

    </select>

    <!-- 페이징 계산(검색값 포함)에 필요한 게시글 전체 갯수 -->
    <select id="getCountAll" parameterType="object" resultType="int">
        SELECT COUNT(a.id) AS "cnt"
        FROM article a
        JOIN MEMBER m ON a.MEMBER_ID = m.ID
        WHERE a.STATUS = 'enabled'
        <if test="keyword != null">
            AND (
            m.name LIKE '%' || #{keyword} || '%'
            OR a.title LIKE '%' || #{keyword} || '%'
            OR a.content LIKE '%' || #{keyword} || '%'
            )
        </if>
    </select>

    <!-- 게시글 목록 (페이징) -->
    <select id="findByPage" parameterType="PageParams" resultType="Article">
        SELECT
        id,
        title,
        content,
        writer,
        regdate,
        image_path
        FROM (
        SELECT
        id,
        CEIL(rownum / #{elementSize}) request_page,
        title,
        content,
        writer,
        regdate,
        image_path
        FROM (
        SELECT
        a.id AS id,
        a.title AS title,
        a.content AS content,
        m.name AS writer,
        TO_CHAR(a.regdate, 'YYYY-MM-DD HH24:MI') AS regdate,
        a.image_path AS image_path
        FROM article a
        JOIN member m ON a.member_id = m.id
        WHERE a.status = 'enabled'
        <if test="keyword != null">
            AND (
            m.name LIKE '%' || #{keyword} || '%'
            OR a.title LIKE '%' || #{keyword} || '%'
            OR a.content LIKE '%' || #{keyword} || '%'
            )
        </if>
        ORDER BY a.regdate DESC
        )
        )
        WHERE request_page = #{requestPage}
    </select>

 <!-- 검색 기능 -->
    <select id="search" parameterType="object" resultType="Article">
        SELECT
        a.ID,
        a.TITLE,
        a.CONTENT,
        TO_CHAR(a.REGDATE, 'YYYY-MM-DD HH24:MI') AS regdate,
        m.name
        FROM
        article a
        JOIN member m ON a.MEMBER_ID = m.ID
        WHERE a.id = #{id}
        <where>
            <if test="keyword != null">
                AND (
                m.name LIKE '%' || #{keyword} || '%'
                OR a.title LIKE '%' || #{keyword} || '%'
                OR a.content LIKE '%' || #{keyword} || '%'
                )
            </if>
        </where>
        ORDER BY a.regdate DESC
    </select>




</mapper>