<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vj.lets.domain.article.mapper.ArticleCommentHistoryMapper">

    <insert id="create">
        INSERT INTO ARTICLE_COMMENT_HISTORY(ID, ARTICLE_COMMENT_ID)
        VALUES (ARTICLE_HISTORY_ID_SEQ.NEXTVAL, ARTICLE_COMMENT_ID_SEQ.CURRVAL)
    </insert>

    <insert id="createByUpdate">
        INSERT INTO ARTICLE_COMMENT_HISTORY(ID, MODIFY_COMMENT, ARTICLE_COMMENT_ID)
        VALUES (ARTICLE_HISTORY_ID_SEQ.NEXTVAL, #{comment}, #{articleCommentId})
    </insert>

</mapper>