<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vj.lets.domain.article.mapper.ArticleCommentMapper">

    <!-- 댓글 생성 -->
    <insert id="create" parameterType="ArticleComment">
        INSERT INTO article_comment (id, content, ARTICLE_ID, MEMBER_ID)
        VALUES (article_history_id_seq.NEXTVAL, #{content}, #{articleId}, #{memberId});
    </insert>

    <!-- 댓글 삭제 -->
    <update id="delete" parameterType="int">
        UPDATE ARTICLE_COMMENT
        SET status = 'disabled'
        WHERE ID = #{id}
    </update>

    <!--해당 게시글의 댓글 목록-->
    <select id="findCommentAll" resultType="ArticleComment" >
        SELECT
            ac.id,
            ac.content,
            TO_CHAR(ac.regdate, 'YYYY-MM-DD HH24:MI') regdate,
            a.id AS article_Id,
            m.id AS member_Id
        FROM ARTICLE_COMMENT ac
        JOIN article a ON ac.ARTICLE_ID= a.ID
        JOIN member m ON a.MEMBER_ID = m.ID
        WHERE a.ID = #{Id, jdbcType=NULL} AND ac.STATUS='enabled'
        ORDER BY ac.REGDATE DESC
    </select>

</mapper>