<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vj.lets.domain.article.mapper.ArticleMapper">

    <!-- 게시글 생성 -->
    <insert id="create" parameterType="Article">
        INSERT INTO article(ID, TITLE, CONTENT, MEMBER_ID)
        VALUES (ARTICLE_ID_SEQ.NEXTVAL, #{title}, #{content} , #{memberId})
    </insert>

    <!-- 게시글 수정 -->
    <update id="update" parameterType="Article">
        UPDATE Article
        <set>
            <if test="title != null or title != ''">title = #{title},</if>
            <if test="content != null or content != ''">content = #{content}</if>
        </set>
        WHERE ID = #{id}
    </update>

    <!-- 게시글 삭제 -->
    <update id="delete" parameterType="int">
        UPDATE Article
        SET status = 'disabled'
        WHERE ID = #{id}
    </update>

    <!-- 페이징 계산(검색값 포함)에 필요한 게시글 전체 갯수 -->
    <select id="getCountAll" parameterType="object" resultType="int">
        SELECT COUNT(a.id) AS "cnt"
        FROM article a
        JOIN MEMBER m ON a.MEMBER_ID = m.ID
        WHERE a.STATUS = 'enabled'
        <if test="keyword != null">
            AND (
            m.name LIKE '%' || #{keyword} || '%'
            OR a.title LIKE '%' || #{keyword} || '%'
            OR a.content LIKE '%' || #{keyword} || '%'
            )
        </if>
    </select>

    <!-- 게시글 목록 (페이징 처리 및 검색값 , 댓글 포함) -->
    <select id="findByPage" parameterType="PageParams" resultType="map">
        SELECT
        id,
        title,
        content,
        writer,
        regdate,
        image_path
        FROM (
        SELECT
        id,
        CEIL(rownum / #{elementSize}) request_page,
        title,
        content,
        writer,
        regdate,
        image_path
        FROM (
        SELECT
        a.id AS id,
        a.title AS title,
        a.content AS content,
        m.name AS writer,
        TO_CHAR(a.regdate, 'YYYY-MM-DD HH24:MI') AS regdate,
        a.image_path AS image_path
        FROM article a
        JOIN member m ON a.member_id = m.id
        WHERE a.status = 'enabled'
        <if test="keyword != null">
            AND (
            m.name LIKE '%' || #{keyword} || '%'
            OR a.title LIKE '%' || #{keyword} || '%'
            OR a.content LIKE '%' || #{keyword} || '%'
            )
        </if>
        ORDER BY a.regdate DESC
        )
        )
        WHERE request_page = #{requestPage}
    </select>

    <!-- 게시글 찾기 -->
    <select id="findById" parameterType="int" resultType="Article">
        SELECT
            ID,
            title,
            content
        FROM
            article
        WHERE
            id = #{id}
    </select>

    <!--해당 게시글의 댓글 찾기-->
    <select id="findComment" parameterType="java.util.List" resultType="map">
        SELECT ac.id,
        ac.content,
        TO_CHAR(ac.regdate, 'YYYY-MM-DD HH24:MI') AS commentRegDate,
        m.NAME AS commentWriter,
        a.ID AS articleId
        FROM article_comment ac
        JOIN article a ON a.id = ac.article_id
        JOIN member m ON m.id = ac.MEMBER_ID
        WHERE ac.STATUS='enabled' AND a.id IN
        <foreach collection="list" item="articleId" open="(" close=")" separator=",">
            #{articleId}
        </foreach>
    </select>

</mapper>