<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vj.lets.domain.location.mapper.SiGunGuMapper">

    <select id="getSiGunGu" parameterType="String">
        SELECT ID,
               NAME,
               SI_DO_ID
        FROM SI_GUN_GU
        WHERE NAME = #{siGunGuName}
    </select>

    <select id="getSiGunGuDo" resultType="int">
        SELECT sgg.ID
        FROM SI_GUN_GU sgg
                 JOIN SI_DO sd ON sgg.SI_DO_ID = sd.ID
        WHERE sgg.NAME = #{siGunGuName}
          AND sd.NAME LIKE '%' || #{siDoName} || '%'
    </select>

</mapper>