<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="footer">
    <!-- footer -->
    <footer>
        <div class="container margin_60_35">
            <div class="row">
                <div class="col-lg-5 col-md-12 pe-5">
                    <p><img src="/images/title_textwhite.svg" width="110" height="40" alt=""></p>
                    <p>Mea nibh meis philosophia eu. Duis legimus efficiantur ea sea. Id placerat tacimates
                        definitionem sea, prima quidam vim no. Duo nobis persecuti cu. Nihil facilisi indoctum an
                        vix, ut delectus expetendis vis.</p>
                </div>
                <div class="col-lg-3 col-md-6 ms-lg-auto">
                    <h5>Useful links</h5>
                    <ul class="links">
                        <li><a th:href="@{/member/login}" href="login.html">Login</a></li>
                        <li><a th:href="@{/member/register}" href="register.html">Register</a></li>
                        <li><a th:href="@{/contact}" href="contacts.html">Contacts</a></li>
                        <li><a th:href="@{/support}" href="about.html">Support</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5>Contact with Us</h5>
                    <ul class="contacts">
                        <li><a href="#"><i class="ti-mobile"></i> + 82 10 0000 0000</a></li>
                        <li><a href="#"><i class="ti-email"></i> lets@LETS.com</a></li>
                    </ul>
                </div>
            </div>
            <!-- /row-->
            <hr>
            <div class="row">
                <div class="col-lg-6"></div>
                <div class="col-lg-6">
                    <ul id="additional_links">
                        <li><a href="#0">Terms and conditions</a></li>
                        <li><a href="#0">Privacy</a></li>
                        <li><span>© LETS</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- /footer-->
</th:block>
</html>