<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block
        th:replace="~{/common/layout/common_layout_V2 :: setContent(~{this :: head} ,~{this :: content}, ~{this :: scripts})}">

    <th:block th:fragment="head">
        <meta name="author" content="VJCommando">
        <meta name="description" content="LETS - FAQ">
        <title>LETS - FAQ</title>
    </th:block>

    <th:block th:fragment="content">
        <!-- main -->
        <main>
            <section class="hero_in general" style="background-image: url('/images/faq.png')">
                <div class="wrapper">
                    <div class="container">
                        <h1 class="fadeInUp"><span></span>자주 묻는 질문</h1>
                    </div>
                </div>
            </section>
            <!-- /hero_in -->


            <div class="container margin_60_35">
                <div class="row">
                    <aside class="col-lg-3" id="sidebar">
                        <div class="box_style_cat" id="faq_box">
                            <ul th:each="category, index : ${categoryList}" id="cat_nav">
                                <li>
                                    <a th:href="|#${category.name}|" th:text="${category.name}"
                                       href="#studygroup" class="active">
                                        <i class="icon_document_alt"></i>
                                        스터디그룹 이용안내
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- /sticky -->
                    </aside>
                    <!-- /aside -->

                    <div class="col-lg-8" id="faq">
                        <th:block th:each="faqList : ${faqListMap}">
                            <h4 th:text="${faqList.key}" class="nomargin_top">예약 및 결제</h4>
                            <div th:id="${faqList.key}" th:name="${faqList.key}"
                                 role="tablist" class="add_bottom_45 accordion_2" id="book_payment" name="book_payment">
                                <div th:each="faq, index : ${faqList.value}" class="card">
                                    <div class="card-header" role="tab">
                                        <h5 class="mb-0">
                                            <a th:href="|#${faqList.key}_${index.count}|"
                                               data-bs-toggle="collapse" href="#collapseOne_terms" aria-expanded="true">
                                                <i class="indicator ti-plus"></i>
                                                <th:block th:text="${faq.title}">예약</th:block>
                                            </a>
                                        </h5>
                                    </div>
                                    <div th:id="|${faqList.key}_${index.count}|" th:data-bs-parent="|#${faqList.key}|"
                                         id="collapseOne_terms" class="collapse" role="tabpanel"
                                         data-bs-parent="#book_payment">
                                        <div class="card-body">
                                            <p th:text="${faq.content}">Nihil anim keffiyeh helvetica, craft beer labore
                                                wes anderson cred
                                                nesciunt
                                                sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                                                occaecat
                                                craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                                                probably
                                                haven't heard of them accusamus labore sustainable VHS.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- /card -->
                            </div>
                        </th:block>
                    </div>
                    <!-- /col -->
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </main>
        <!-- /main -->
    </th:block>

    <th:block th:fragment="scripts">
    </th:block>

</th:block>

</html>