<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vj.lets.domain.support.mapper.ContactMapper">

    <insert id="create" parameterType="Contact">
        INSERT INTO CONTACT(ID, EMAIL, NAME, CAFE_NAME, PHONE_NUMBER, ADDRESS, MESSAGE, BUSINESS_NUMBER)
        VALUES (CONTACT_ID_SEQ.NEXTVAL, #{email}, #{name}, #{cafeName}, #{phoneNumber}, #{address}, #{message},
                #{businessNumber})
    </insert>

    <select id="readCountAll" parameterType="string" resultType="int">
        SELECT COUNT(ID) "count"
        FROM CONTACT
        <where>
            <if test="type != null and type != ''">AND STATUS = #{type}</if>
        </where>
    </select>

    <select id="readAll" parameterType="PageParams" resultType="Contact">
        SELECT ID,
               EMAIL,
               NAME,
               CAFE_NAME,
               PHONE_NUMBER,
               ADDRESS,
               MESSAGE,
               BUSINESS_NUMBER,
               TO_CHAR(CONTACT_DATE, 'yyyy-MM-dd') "contact_date",
               STATUS
        FROM (SELECT CEIL(ROWNUM / #{elementSize}) "request_page",
                     ID,
                     EMAIL,
                     NAME,
                     CAFE_NAME,
                     PHONE_NUMBER,
                     ADDRESS,
                     MESSAGE,
                     BUSINESS_NUMBER,
                     CONTACT_DATE,
                     STATUS
              FROM (SELECT ID,
                           EMAIL,
                           NAME,
                           CAFE_NAME,
                           PHONE_NUMBER,
                           ADDRESS,
                           MESSAGE,
                           BUSINESS_NUMBER,
                           CONTACT_DATE,
                           STATUS
                    FROM CONTACT
                    <where>
                        <if test="type != null and type != ''">STATUS = #{type}</if>
                    </where>
                    ORDER BY CONTACT_DATE))
        WHERE "request_page" = #{requestPage}
    </select>

    <select id="readById" parameterType="int" resultType="Contact">
        SELECT ID,
               EMAIL,
               NAME,
               CAFE_NAME,
               BUSINESS_NUMBER,
               STATUS
        FROM CONTACT
        WHERE ID = #{id}
    </select>

    <select id="readByMailBNumDate" parameterType="ContactForm" resultType="Contact">
        SELECT ID,
               EMAIL,
               NAME,
               BUSINESS_NUMBER,
               STATUS
        FROM CONTACT
        WHERE (EMAIL = #{email} or BUSINESS_NUMBER = #{businessNumber})
          AND (STATUS = 'hold' or STATUS = 'approve')
    </select>

    <update id="update">
        UPDATE CONTACT
        <set>
            <if test="status != null or status != ''">status = #{status},</if>
        </set>
        WHERE ID = #{id}
    </update>


</mapper>