<!DOCTYPE html>
<html lang="ko">

<th:block
    th:replace="~{/common/layout/common_layout_V2 :: setContent(~{this :: head} ,~{this :: content}, ~{this :: scripts})}">

    <th:block th:fragment="head">
        <meta name="description" content="LETS - Let's Easy Together Study">
        <meta name="author" content="VJCommando">
        <title>LETS - Let's Easy Together Study</title>
    </th:block>

    <th:block th:fragment="content">
        <main>
            <section class="hero_single cat_hover version_2">
                <div class="wrapper">
                    <div class="container">
                        <h3>Perfect studying experiences</h3>
                        <p>Make and Find Studying</p>
                        <div class="cat_nav_hover">
                            <ul>
                                <li>
                                    <div class="container-item active">
                                        <a href="restaurants-grid.html">
                                            <figure><img src="img/hover-cat-bars-thumb.jpg" alt=""></figure>
                                            <h2>Find Study Cafe</h2></a>
                                        <div class="image-bg">
                                            <video src="video/drink.mp4" loop autoplay playsinline webkit-playsinline
                                                   muted></video>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="container-item">
                                        <a href="tours-grid-sidebar.html">
                                            <figure><img src="img/hover-cat-tours-thumb.jpg" alt=""></figure>
                                            <h2>Find Study Group</h2></a>
                                        <div class="image-bg">
                                            <video src="video/venice.mp4" loop autoplay playsinline webkit-playsinline
                                                   muted></video>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div><!-- /cat_nav -->
                    </div>
                </div>
            </section>
            <!-- /hero_single -->

            <div class="container container-custom margin_80_0">
                <div class="main_title_2">
                    <span><em></em></span>
                    <h2>Our Popular Cafes</h2>
                    <p>This is a list of the most popular cafes right now.</p>
                </div>
                <div id="reccomended" class="owl-carousel owl-theme" data-cue="zoomIn">
                    <div class="item">
                        <div class="box_grid">
                            <figure>
                                <!-- <a href="#0" class="wish_bt"></a> -->
                                <a href="tour-detail.html"><img src="img/tour_5.jpg" class="img-fluid" alt=""
                                                                width="800"
                                                                height="533">
                                    <div class="read_more"><span>Read more</span></div>
                                </a>
                                <small>영업중</small>
                            </figure>
                            <div class="wrapper">
                                <h3><a href="tour-detail.html">이젠스터디카페</a></h3>
                                <p>서울특별시 노원구 동일로 500</p>
                                <span class="price">평균 <strong>50,000<i
                                    class="fa-solid fa-won-sign"></i></strong> /1hour</span>
                            </div>
                            <ul>
                                <li><i class="icon_clock_alt"></i> 7시 ~ 20시</li>
                                <li>
                                    <div class="score"><span>Good<em>30 Reviews</em></span><strong>3.0</strong></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /item -->
                    <div class="item">
                        <div class="box_grid">
                            <figure>
                                <!-- <a href="#0" class="wish_bt"></a> -->
                                <a href="tour-detail.html"><img src="img/tour_5.jpg" class="img-fluid" alt=""
                                                                width="800"
                                                                height="533">
                                    <div class="read_more"><span>Read more</span></div>
                                </a>
                                <small>영업중</small>
                            </figure>
                            <div class="wrapper">
                                <h3><a href="tour-detail.html">이젠스터디카페</a></h3>
                                <p>서울특별시 노원구 동일로 500</p>
                                <span class="price">평균 <strong>50,000<i
                                    class="fa-solid fa-won-sign"></i></strong> /1hour</span>
                            </div>
                            <ul>
                                <li><i class="icon_clock_alt"></i> 7시 ~ 20시</li>
                                <li>
                                    <div class="score"><span>Superb<em>30 Reviews</em></span><strong>5.0</strong></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /item -->
                    <div class="item">
                        <div class="box_grid">
                            <figure>
                                <!-- <a href="#0" class="wish_bt"></a> -->
                                <a href="tour-detail.html"><img src="img/tour_5.jpg" class="img-fluid" alt=""
                                                                width="800"
                                                                height="533">
                                    <div class="read_more"><span>Read more</span></div>
                                </a>
                                <small>영업중</small>
                            </figure>
                            <div class="wrapper">
                                <h3><a href="tour-detail.html">이젠스터디카페</a></h3>
                                <p>서울특별시 노원구 동일로 500</p>
                                <span class="price">평균 <strong>50,000<i
                                    class="fa-solid fa-won-sign"></i></strong> /1hour</span>
                            </div>
                            <ul>
                                <li><i class="icon_clock_alt"></i> 7시 ~ 20시</li>
                                <li>
                                    <div class="score"><span>Very Good<em>30 Reviews</em></span><strong>4.0</strong>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /item -->
                    <div class="item">
                        <div class="box_grid">
                            <figure>
                                <!-- <a href="#0" class="wish_bt"></a> -->
                                <a href="tour-detail.html"><img src="img/tour_5.jpg" class="img-fluid" alt=""
                                                                width="800"
                                                                height="533">
                                    <div class="read_more"><span>Read more</span></div>
                                </a>
                                <small>영업중</small>
                            </figure>
                            <div class="wrapper">
                                <h3><a href="tour-detail.html">이젠스터디카페</a></h3>
                                <p>서울특별시 노원구 동일로 500</p>
                                <span class="price">평균 <strong>50,000<i
                                    class="fa-solid fa-won-sign"></i></strong> /1hour</span>
                            </div>
                            <ul>
                                <li><i class="icon_clock_alt"></i> 7시 ~ 20시</li>
                                <li>
                                    <div class="score"><span>Very Good<em>30 Reviews</em></span><strong>4.0</strong>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /item -->
                    <div class="item">
                        <div class="box_grid">
                            <figure>
                                <!-- <a href="#0" class="wish_bt"></a> -->
                                <a href="tour-detail.html"><img src="img/tour_5.jpg" class="img-fluid" alt=""
                                                                width="800"
                                                                height="533">
                                    <div class="read_more"><span>Read more</span></div>
                                </a>
                                <small>영업중</small>
                            </figure>
                            <div class="wrapper">
                                <h3><a href="tour-detail.html">이젠스터디카페</a></h3>
                                <p>서울특별시 노원구 동일로 500</p>
                                <span class="price">평균 <strong>50,000<i
                                    class="fa-solid fa-won-sign"></i></strong> /1hour</span>
                            </div>
                            <ul>
                                <li><i class="icon_clock_alt"></i> 7시 ~ 20시</li>
                                <li>
                                    <div class="score"><span>Pleasant<em>30 Reviews</em></span><strong>2.0</strong>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /item -->
                    <div class="item">
                        <div class="box_grid">
                            <figure>
                                <!-- <a href="#0" class="wish_bt"></a> -->
                                <a href="tour-detail.html"><img src="img/tour_5.jpg" class="img-fluid" alt=""
                                                                width="800"
                                                                height="533">
                                    <div class="read_more"><span>Read more</span></div>
                                </a>
                                <small>영업중</small>
                            </figure>
                            <div class="wrapper">
                                <h3><a href="tour-detail.html">이젠스터디카페</a></h3>
                                <p>서울특별시 노원구 동일로 500</p>
                                <span class="price">평균 <strong>50,000<i
                                    class="fa-solid fa-won-sign"></i></strong> /1hour</span>
                            </div>
                            <ul>
                                <li><i class="icon_clock_alt"></i> 7시 ~ 20시</li>
                                <li>
                                    <div class="score"><span>Poor<em>30 Reviews</em></span><strong>1.0</strong></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /item -->
                </div>
                <!-- /carousel -->
                <p class="btn_home_align"><a href="tours-grid-isotope.html" class="btn_1 rounded">View all Cafes</a></p>
                <hr class="large">
            </div>
            <!-- /container -->

            <div class="container container-custom margin_30_95">
                <div class="banner mb-0" data-cue="zoomIn">
                    <div class="wrapper d-flex align-items-center opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.3)">
                        <div>
                            <!-- <small>Study Group</small> -->
                            <h3>Your Perfect<br>Study Experience</h3>
                            <p>Find and Make Study Group</p>
                            <a href="adventure.html" class="btn_1">See Details</a>
                        </div>
                    </div>
                    <!-- /wrapper -->
                </div>
                <!-- /banner -->

            </div>
            <!-- /container -->


            <div class="call_section">
                <div class="container clearfix">
                    <div class="col-lg-5 col-md-6 float-end wow position-relative" data-wow-offset="250">
                        <div class="block-reveal">
                            <div class="block-vertical"></div>

                        </div>
                    </div>
                </div>
            </div>
            <!--/call_section-->
        </main>
        <!-- /main -->
    </th:block>

    <th:block th:fragment="scripts">
    </th:block>

</th:block>

</html>