<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block
        th:replace="~{/common/layout/common_layout_V2 :: setContent(~{this :: head} ,~{this :: content}, ~{this :: scripts})}">

    <th:block th:fragment="head">
        <meta name="author" content="VJCommando">
        <meta name="description" content="LETS - 카페 상세 페이지">
        <title>LETS - 카페 상세 페이지</title>

        <link href="/css/custom/cafe_detail_custom.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    </th:block>

    <th:block th:fragment="content">
        <!-- main -->
        <main>
            <section class="hero_in restaurants_detail">
                <div class="wrapper">
                    <div class="container">
                        <h1 class="fadeInUp" th:text="${Cafe['name']}">EZEN Study Cafe</h1>
                    </div>
                </div>
            </section>
            <!--/hero_in-->

            <div class="bg_color_1">
                <nav class="secondary_nav sticky_horizontal">
                    <div class="container">
                        <ul class="clearfix">
                            <li><a href="#description" class="active">설명</a></li>
                            <li><a href="#reviews">후기</a></li>
                            <li><a href="#sidebar">예약</a></li>
                        </ul>
                    </div>
                </nav>
                <div class="container margin_60_35">
                    <div class="row">
                        <div class="col-lg-8">
                            <section id="description">
                                <h2>운영시간
                                    <strong th:if="${Cafe['startTime']} <= ${#calendars.format(#calendars.createNow(),'HH')} and ${Cafe['endTime']} > ${#calendars.format(#calendars.createNow(),'HH')}" class="point-blue ms-1 mt-0">영업중</strong>
                                    <strong th:unless="${Cafe['startTime']} <= ${#calendars.format(#calendars.createNow(),'HH')} and ${Cafe['endTime']} > ${#calendars.format(#calendars.createNow(),'HH')}" class="point-blue ms-1 mt-0">영업종료</strong>
                                </h2>
                                <p th:text="|${Cafe['startTime']}시 ~ ${Cafe['endTime']}시|">12:00 ~ 22:00</p>
                                <h2>위치</h2>
                                <p th:if="${Cafe['detailAddress']} != null" th:text="|${Cafe['siDoName']} ${Cafe['siGunGuName']} ${Cafe['roadAddress']} ${Cafe['detailAddress']}|">서울시 노원구 동일로 300 4층</p>
                                <p th:unless="${Cafe['detailAddress']} != null" th:text="|${Cafe['siDoName']} ${Cafe['siGunGuName']} ${Cafe['roadAddress']}|">서울시 노원구 동일로 300</p>
                                <h2>소개</h2>
                                <p th:text="${Cafe['description']}">Per consequat </p>
                                <ul class="none">
                                    <div class="row">
                                        <li th:each="cafeOption : ${options}" class="col-lg-6">
                                            <i th:class="|${cafeOption.imagePath} me-2|" class="fa-regular fa-eye me-2"></i>
                                            <em th:text="${cafeOption.name}"></em>
                                        </li>
                                    </div>
                                </ul>
                                <!-- /row -->
                                <hr>
                                <div>
                                    <h3 class="mb-3">방 종류</h3>
                                    <div class="pictures_grid magnific-gallery clearfix" th:each="room : ${roomList}">
                                        <div class="d-flex">
                                            <figure class="mb-2 me-lg-3"><a th:href="@{${room.imagePath}}" href="img/detail_gallery/detail_1.jpg"
                                                                            title="Photo title"
                                                                            data-effect="mfp-zoom-in"><img
                                                    th:src="${room.imagePath}" src="img/detail_gallery/detail_1.jpg" alt=""></a></figure>
                                            <div class="row mb-3 mt-lg-3">
                                                <div class="col-lg-12">
                                                    <ul class="bullets">
                                                        <li>
                                                            <strong class="line-strong">이름</strong>
                                                            <strong th:text="${room.name}">이젠 101</strong>
                                                        </li>
                                                        <li>
                                                            <strong class="line-strong">최대 수용인원</strong>
                                                            <strong th:text="|${room.headCount}명|">10</strong>
                                                        </li>
                                                        <li>
                                                            <strong class="line-strong">시간당 가격</strong>
                                                            <strong th:text="|${room.price}원|">15,000원</strong>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /row -->
                                        <p th:text="${room.description}">Per consequat adolescens ex, cu nibh commune</p>
                                    </div>
                                    <!-- /room-option -->
                                </div>
                                <hr>
                                <h3>위치</h3>
                                <div id="map" class="map map_single add_bottom_30"></div>
                                <!-- End Map -->
                            </section>
                            <!-- /section -->

                            <section id="reviews">
                                <h2>후기</h2>
                                <div class="reviews-container">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div id="review_summary">
                                                <strong th:if="${Cafe['cafeRating']} == null">0.0</strong>
                                                <strong th:unless="${Cafe['cafeRating']} == null"
                                                        th:text="${#numbers.formatDecimal(Cafe['cafeRating'],1,1)}">5.0</strong>
                                                <span th:switch="${#numbers.formatInteger(Cafe['cafeRating'],1)}">
                                                <em th:case="5">Superb</em>
                                                <em th:case="4">VeryGood</em>
                                                <em th:case="3">Good</em>
                                                <em th:case="2">Pleasant</em>
                                                <em th:case="1">Poor</em>
                                                <em th:case="*">No Rating</em></span>
                                                <small th:text="|${Cafe['reviewCount']}개의 리뷰 통계|">Based on 4 reviews</small>
                                            </div>
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="row">
                                                <div class="col-lg-10 col-9">
                                                    <div class="progress">
                                                        <div class="progress-bar" role="progressbar" th:style="|width:${countReviews['five']}%|" style="width: 100%"
                                                             aria-valuenow="100"
                                                             aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2 col-3"><small><strong>5 stars</strong></small>
                                                </div>
                                            </div>
                                            <!-- /row -->
                                            <div class="row">
                                                <div class="col-lg-10 col-9">
                                                    <div class="progress">
                                                        <div class="progress-bar" role="progressbar" th:style="|width:${countReviews['four']}%|" style="width: 100%"
                                                             aria-valuenow="0"
                                                             aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2 col-3"><small><strong>4 stars</strong></small>
                                                </div>
                                            </div>
                                            <!-- /row -->
                                            <div class="row">
                                                <div class="col-lg-10 col-9">
                                                    <div class="progress">
                                                        <div class="progress-bar" role="progressbar" th:style="|width:${countReviews['three']}%|" style="width: 0%"
                                                             aria-valuenow="0"
                                                             aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2 col-3"><small><strong>3 stars</strong></small>
                                                </div>
                                            </div>
                                            <!-- /row -->
                                            <div class="row">
                                                <div class="col-lg-10 col-9">
                                                    <div class="progress">
                                                        <div class="progress-bar" role="progressbar" th:style="|width:${countReviews['two']}%|" style="width: 20%"
                                                             aria-valuenow="0"
                                                             aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2 col-3"><small><strong>2 stars</strong></small>
                                                </div>
                                            </div>
                                            <!-- /row -->
                                            <div class="row">
                                                <div class="col-lg-10 col-9">
                                                    <div class="progress">
                                                        <div class="progress-bar" role="progressbar" th:style="|width:${countReviews['one']}%|" style="width: 0"
                                                             aria-valuenow="0"
                                                             aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2 col-3"><small><strong>1 stars</strong></small>
                                                </div>
                                            </div>
                                            <!-- /row -->
                                        </div>
                                    </div>
                                    <!-- /row -->
                                </div>

                                <hr>

                                <div class="reviews-container">
                                    <ul>
                                        <li th:each="review : ${reviews}">
                                            <div class="review-box clearfix">
                                                <figure class="rev-thumb"><img src="img/avatar1.jpg" alt="">
                                                </figure>
                                                <div class="rev-content">
                                                    <div class="rating">
                                                            <div th:switch="${review['rating']}">
                                                            <div th:case="5"><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i></div>
                                                            <div th:case="4"><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i></div>
                                                            <div th:case="3"><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i><i class="icon_star"></i></div>
                                                            <div th:case="2"><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i></div>
                                                            <div th:case="*"><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i></div>
                                                            </div>
                                                    </div>
                                                    <div class="rev-info mb-1" th:text="|${review['writerName']} - ${review['writeDate']}|">
                                                        Guest – April 03, 2016:
                                                    </div>
                                                    <div class="rev-info" th:text="|방타입 ${review['roomName']}|">
                                                        방타입 A1
                                                    </div>
                                                    <div class="rev-text">
                                                        <p th:text="${review['content']}">
                                                            Sed eget turpis a pede tempor malesuada. Vivamus quis mi at
                                                            leo
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <th:block th:if="${review['commentContent']} != null">
                                            <div class="review-box clearfix cafe-reply">
                                                <figure class="rev-thumb"><img th:src="${Cafe['imagePath']}" src="img/avatar1.jpg" alt="">
                                                </figure>
                                                <div class="rev-content">
                                                    <div class="rev-info" th:text="|host - ${review['commentWriteDate']}|">
                                                        Host – April 03, 2016:
                                                    </div>
                                                    <div class="rev-text">
                                                        <p th:text="${review['commentContent']}">
                                                            이젠 스터디카페를 이용해주셔서 감사합니다.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            </th:block>
                                        </li>
                                        <!-- /review-box -->
                                    </ul>
                                    <!-- /review-box -->
                                    <div>
                                        <ul class="pagination h-100 justify-content-center align-items-center">
                                            <th:block th:if="${pagination.showFirst}">
                                                <li class="page-item">
                                                    <a th:href="@{/cafe/{id}(id=${Cafe['id']})?page=1}" class="page-link">처음으로</a>
                                                </li>
                                            </th:block>
                                            <th:block th:if="${pagination.showPrevious}">
                                                <li class="page-item">
                                                    <a th:href="@{|/cafe/{id}(id=${Cafe['id']})?page=${pagination.previousStartPage}|}" class="page-link">이전</a>
                                                </li>
                                            </th:block>
                                            <th:block th:each="i : ${#numbers.sequence(pagination.getStartPage(), pagination.getEndPage())}">
                                                <th:block th:if="${i == pagination.params.requestPage}">
                                                    <li class="page-item active">
                                                        <a th:text="${i}" class="page-link" href="#">1</a>
                                                    </li>
                                                </th:block>
                                                <th:block th:if="${i != pagination.params.requestPage}">
                                                    <li class="page-item">
                                                        <a th:text="${i}" th:href="@{|/cafe/{id}(id=${Cafe['id']})?page=${i}|}" class="page-link" href="#">2</a>
                                                    </li>
                                                </th:block>
                                            </th:block>
                                            <th:block th:if="${pagination.showNext}">
                                                <li class="page-item">
                                                    <a th:href="@{|/cafe/{id}(id=${Cafe['id']})?page=${pagination.nextStartPage}|}" class="page-link">다음</a>
                                                </li>
                                            </th:block>
                                            <th:block th:if="${pagination.showLast}">
                                                <li class="page-item">
                                                    <a th:href="@{/cafe/{id}(id=${Cafe['id']})?page=${pagination.totalPages}}" class="page-link">끝으로</a>
                                                </li>
                                            </th:block>
                                        </ul>
                                    </div>
                                </div>
                                <!-- /review-container -->
                            </section>
                            <!-- /section -->
                            <hr>
                        </div>
                        <!-- /col -->

                        <aside class="col-lg-4" id="sidebar">
                            <form th:action="@{'/cafe/' + ${id}}" action="#" th:method="post">
                                <div class="box_detail booking">
                                    <div class="price">
                                        <span><span id="selectedRoomPrice">Price</span><small> per 1hour</small></span>
                                        <div class="score"><span
                                                th:switch="${#numbers.formatInteger(Cafe['cafeRating'],1)}">
                                            <em th:case="5">Superb</em>
                                            <em th:case="4">VeryGood</em>
                                            <em th:case="3">Good</em>
                                            <em th:case="2">Pleasant</em>
                                            <em th:case="1">Poor</em>
                                            <em th:case="*">No Rating</em>

                                            <em th:if="${Cafe['reviewCount']} != null"
                                                th:text="${Cafe['reviewCount']}+' Reviews'">30 Reviews</em>
                                            <em th:if="${Cafe['reviewCount']} == null">0 Reviews</em>
                                            </span>
                                            <strong th:if="${Cafe['cafeRating']} == null">0.0</strong>
                                            <strong th:unless="${Cafe['cafeRating']} == null"
                                                    th:text="${#numbers.formatDecimal(Cafe['cafeRating'],1,1)}">5.0</strong>
                                        </div>
                                    </div>
                                    <div class="form-group input-dates scroll-fix">
                                        <input class="form-control" type="text" id="bookingDate" name="bookingDate"
                                               placeholder="When..">
                                        <i class="icon_calendar"></i>
                                    </div>

                                    <div class="panel-dropdown">
                                        <a href="#">Guests <span class="qtyTotal">1</span></a>
                                        <div class="panel-dropdown-content right">
                                            <div class="qtyButtons">
                                                <label>Guests</label>
                                                <input type="number" id="headCount" name="headCount" value="1"
                                                       onchange="updateQtyTotal()">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group clearfix">
                                        <div class="custom-select-form">
                                            <select id="roomName" class="wide" name="roomId">
                                                <option value="">룸 타입</option>
                                            </select>
                                        </div>
                                    </div>


                                    <div class="form-group clearfix">
                                        <div class="custom-select-form">
                                            <select class="wide" name="startTime" id="startTimeSelect">
                                                <option>시작시간</option>
                                                <option th:each="hour : ${#numbers.sequence(Cafe.startTime, Cafe.endTime - 1)}"
                                                        th:value="${hour}"
                                                        th:text="${#strings.concat(hour, ':00')}"></option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group clearfix">
                                        <div class="custom-select-form">
                                            <select class="wide" name="endTime" id="endTimeSelect">
                                                <option>종료시간</option>
                                                <option th:each="hour : ${#numbers.sequence(Cafe.startTime +1, Cafe.endTime)}"
                                                        th:value="${hour}"
                                                        th:text="${#strings.concat(hour, ':00')}"
                                                ></option>
                                            </select>
                                        </div>
                                    </div>


                                    <div class="price text-end">
                                        <strong class="me-2">Total</strong><small><span
                                            id="calculateRoomPrice">시간 당 가격</span><i
                                            class="fa-solid fa-xmark me-1 ms-1"></i><span id="calculateTime"></span>시간<i
                                            class="fa-solid fa-equals me-2 ms-1"></i></small>
                                        <strong class="price-text"><span id="totalPrice">Total Price</span><i
                                                class="fa-solid fa-won-sign ms-1"></i></strong>
                                    </div>
                                    <button type="submit" class=" add_top_30 btn_1 full-width purchase">Book now
                                    </button>

                                    <div class="text-center"><small>No money charged in this step</small></div>
                                </div>
                            </form>
                        </aside>
                    </div>
                    <!-- /row -->
                </div>
                <!-- /container -->
            </div>
            <!-- /bg_color_1 -->
        </main>
        <!--/main-->
    </th:block>

    <th:block th:fragment="scripts">
        <script>
            const id = [[${Cafe['id']}]];
            const startTime = [[${Cafe['startTime']}]];
            const endTime = [[${Cafe['endTime']}]];

            let array = [];

            let startTimes = [];
            let endTimes = [];

            for (let i = startTime; i < endTime; i++) {
                startTimes.push(i);
                endTimes.push(i + 1);
            }

            let selectedStartTime = "";
            let availableEndTime = [];
            let selectDate = "";
        </script>
        <script src="/js/custom/cafe.js"></script>
        <!-- Map -->
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=665c870d0cd68fefbb228c9c40d58cf1"></script>
        <script th:inline="javascript">
            var name = [[${Cafe['name']}]];
            var lat = [[${Cafe['latitude']}]];
            var lng = [[${Cafe['longitude']}]];
            var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                mapOption = {
                    center: new kakao.maps.LatLng(lat, lng), // 지도의 중심좌표
                    level: 3 // 지도의 확대 레벨
                };

            // 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
            var map = new kakao.maps.Map(mapContainer, mapOption);
            // 마커를 표시할 위치와 title 객체 배열입니다

            var positions = [
                {
                    title: name,
                    latlng: new kakao.maps.LatLng(lat, lng)
                }
            ];

            // 마커 이미지의 이미지 주소입니다
            var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";

            for (var i = 0; i < positions.length; i ++) {

                // 마커 이미지의 이미지 크기 입니다
                var imageSize = new kakao.maps.Size(24, 35);

                // 마커 이미지를 생성합니다
                var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);

                // 마커를 생성합니다
                var marker = new kakao.maps.Marker({
                    map: map, // 마커를 표시할 지도
                    position: positions[i].latlng, // 마커를 표시할 위치
                    title : positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
                    image : markerImage // 마커 이미지
                });
            }
        </script>

        <!-- DATEPICKER  -->
        <script th:inline="javascript">


            //예약일 체크 달력
            $('input[name="bookingDate"]').daterangepicker({
                autoUpdateInput: true,
                parentEl: '.scroll-fix',
                singleDatePicker: true,
                autoApply: true,
                minDate: new Date(),
                showCustomRangeLabel: false,
                locale: {
                    format: 'YYYY-MM-DD'
                }
            }, function (e, start) {
                selectDate = start.format('YYYY-MM-DD');
                const url = `/cafe/selectDate/${id}`;
                console.log(`${id}`);
                fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        const roomListSelected = document.querySelector('#roomName');
                        roomListSelected.innerHTML = '';


                        for (let i = 0; i < data.length; i++) {
                            const option = document.createElement('option');
                            option.innerText = `${data[i].name}`;
                            option.value = `${data[i].id}`;
                            option.setAttribute('data-price', data[i].price); // 방의 가격 데이터를 저장
                            option.setAttribute('data-headCount', data[i].headCount); // 방의 수용인원 데이터를 저장
                            roomListSelected.appendChild(option);
                        }

                        // 업데이트된 옵션을 nice-select로 변환
                        $("#roomName").niceSelect('update');

                        // 선택된 방의 가격을 업데이트
                        updateRoomPrice();
                        // 선택된 방의 수용인원 최대값을 업데이트
                        updateMaxHeadCount();
                    })
                    .catch(error => alert(error));
            });


            //룸 선택에 따른 가격 업데이트
            function updateRoomPrice() {
                const selectedOption = $('#roomName').find('option:selected');
                const selectedRoomPrice = selectedOption.data('price');
                const formattedPrice = selectedRoomPrice.toLocaleString();
                const selectedRoomPriceElement = document.querySelector('#selectedRoomPrice');
                const selectedRoomPriceElement2 = document.querySelector('#calculateRoomPrice');
                selectedRoomPriceElement.innerText = formattedPrice + '원';
                selectedRoomPriceElement2.innerText = formattedPrice;
            }

            //룸 선택에 따른 최대 인원수로 MAX
            function updateMaxHeadCount() {
                const selectedOption = $('#roomName').find('option:selected');
                const selectedRoomHeadCount = selectedOption.data('headcount');
                const selectedRoomHeadCountValue = document.querySelector('#headCount');
                if (selectedRoomHeadCountValue) {
                    selectedRoomHeadCountValue.max = selectedRoomHeadCount;
                }
            }

            //예약된 시간 disabled
            function updateSelectRoomResTime() {
                const roomListSelected = document.querySelector('#roomName');
                const url = `/cafe/selectRoom/${roomListSelected.value}`
                fetch(url, {
                    method: "POST",          //메소드 지정
                    headers: {               //데이터 타입 지정
                        "Content-Type": "application/json; charset=utf-8"
                    },
                    body: JSON.stringify(selectDate)   //실제 데이터 파싱하여 body에 저장
                })
                    .then(response => response.json())
                    .then(data => {
                        startTimes = [];
                        endTimes = [];

                        for (let i = startTime; i < endTime; i++) {
                            startTimes.push(i);
                            endTimes.push(i + 1);
                        }

                        selectedStartTime = "";
                        availableEndTime = [];
                        selectDate = "";

                        array = [];
                        for (let i = 0; i < data.length; i++) {
                            array.push(data[i].startTime);
                            array.push(data[i].endTime);
                        }
                        availableStartTimes(array);

                        $("#startTimeSelect").niceSelect();

                        $("#startTimeSelect").find("option").each(function () {
                            let optionValue = parseInt($(this).val());
                            if (startTimes.includes(optionValue)) {
                                $(this).prop("disabled", false);
                            } else {
                                $(this).prop("disabled", true);
                            }
                        });

                        $("#startTimeSelect").niceSelect("update");

                    })
                    .catch(error => alert(error));
            }

            function availableStartTimes(array) {
                for (let i = 0; i < startTimes.length; i++) {
                    for (let j = 0; j < array.length; j += 2) {
                        if (startTimes[i] >= array[j] && startTimes[i] < array[j + 1]) {
                            startTimes.splice(i, 1);
                            endTimes.splice(i, 1);
                            i--;
                        }
                    }
                }
                return startTimes;
            }

            function availableEndTimes(selectedStartTime, endTimes) {
                let sample = [...endTimes];
                availableEndTime = [];
                for (let i = 0; i < sample.length; i++) {

                    if (sample[i] <= selectedStartTime) {
                        sample.splice(i, 1);
                        i--;

                    }
                    if (sample[i] > selectedStartTime) {
                        if (sample[i] - (selectedStartTime + i) === 1) {
                            availableEndTime.push(sample[i]);
                        }
                    }
                }
                return availableEndTime;
            }

            // 방이 변경될 때마다 함수 실행 및 업데이트
            $('#roomName').on('change', updateRoomPrice);
            $('#roomName').on('change', updateMaxHeadCount);
            $('#roomName').on('change', updateSelectRoomResTime);

            $(document).ready(function () {
                // startTimeSelect와 endTimeSelect를 nice-select로 변환
                $("#startTimeSelect").niceSelect();
                $("#endTimeSelect").niceSelect();

                // 시작 시간 선택 이벤트 처리
                $("#startTimeSelect").on("change", function () {
                    selectedStartTime = parseInt($(this).val());

                    availableStartTimes(array);
                    availableEndTimes(selectedStartTime, endTimes);

                    // 시작 시간에 따른 종료 시간 옵션 비활성화
                    $("#endTimeSelect").find("option").each(function () {
                        let optionValue = parseInt($(this).val());
                        $(this).prop("disabled", true);
                        // if (availableEndTime.includes(optionValue)) {
                        //     $(this).prop("disabled", false);
                        // } else {
                        //     $(this).prop("disabled", true);
                        // }
                    });

                    $("#endTimeSelect").find("option").each(function () {
                        let optionValue = parseInt($(this).val());
                        if (availableEndTime.includes(optionValue)) {
                            $(this).prop("disabled", false);
                        }
                    });
                    // nice-select 업데이트
                    $("#endTimeSelect").niceSelect("update");
                });

                $("#endTimeSelect").on("change", function () {

                    const startTimmmme = document.querySelector('#startTimeSelect');
                    const endTimmmme = document.querySelector('#endTimeSelect');
                    const selectCalculTime = document.querySelector('#calculateTime');
                    selectCalculTime.innerHTML = '';
                    selectCalculTime.innerHTML += endTimmmme.value - startTimmmme.value;
                    const totalPrice = document.querySelector('#calculateRoomPrice').innerHTML.replace(/,/g, "") * selectCalculTime.innerHTML;
                    const formatPrice = totalPrice.toLocaleString();
                    const totalPriceInput = document.querySelector('#totalPrice');
                    totalPriceInput.innerHTML = '';
                    totalPriceInput.innerHTML += formatPrice;

                });
            });
        </script>
        <!-- INPUT QUANTITY  -->
        <script src="/js/input_qty.js"></script>

    </th:block>

</th:block>

</html>