<!DOCTYPE html>
<html lang="ko">

<th:block
    th:replace="~{/common/layout/common_layout_V2 :: setContent(~{this :: head} ,~{this :: content}, ~{this :: scripts})}">

    <th:block th:fragment="head">
        <meta name="description" content="LETS - Let's Easy Together Study">
        <meta name="author" content="VJCommando">
        <title>LETS - Let Everyone to Study</title>
    </th:block>

    <th:block th:fragment="content">
        <main>
            <section class="hero_single cat_hover version_2">
                <div class="wrapper">
                    <div class="container">
                        <h3>Let Everyone to Study</h3>
                        <p>모두 함께 스터디 하자</p>
                        <div class="cat_nav_hover">
                            <ul>
                                <li>
                                    <div class="container-item active">
                                        <a href="/cafe/list">
                                            <figure><img src="img/hover-cat-bars-thumb.jpg" alt=""></figure>
                                            <h2>스터디 카페 찾기</h2></a>
                                        <div class="image-bg">
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="container-item">
                                        <a href="/group">
                                            <figure><img src="img/hover-cat-tours-thumb.jpg" alt=""></figure>
                                            <h2>스터디 그룹 찾기</h2></a>
                                        <div class="image-bg">
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div><!-- /cat_nav -->
                    </div>
                </div>
            </section>
            <!-- /hero_single -->

            <div class="container container-custom margin_80_0">
                <div class="main_title_2">
                    <span><em></em></span>
                    <h2>가장 인기있는 스터디 카페</h2>
                    <p>가장 인기있는 카페를 만나보실 수 있습니다.</p>
                </div>
                <div id="reccomended" class="owl-carousel owl-theme" data-cue="zoomIn">
                    <div class="item" th:each="bestCafe : ${bestCafe}">
                        <div class="box_grid">
                            <figure>
                                <a th:href="@{/cafe/{id}(id=${bestCafe['id']})}" href="/cafe"><img th:src="${bestCafe['imagePath']}"
                                                                                                   src="img/tour_5.jpg" class="img-fluid" alt=""
                                                                width="800"
                                                                height="533">
                                    <div class="read_more"><span>Read more</span></div>
                                </a>
                                <small th:if="${bestCafe['startTime']} < ${#calendars.format(#calendars.createNow(),'HH')} and ${bestCafe['endTime']} > ${#calendars.format(#calendars.createNow(),'HH')}">영업중</small>
                                <small th:unless="${bestCafe['startTime']} < ${#calendars.format(#calendars.createNow(),'HH')} and ${bestCafe['endTime']} > ${#calendars.format(#calendars.createNow(),'HH')}">영업종료</small>
                            </figure>
                            <div class="wrapper">
                                <h3><a th:href="@{/cafe/{id}(id=${bestCafe['id']})}" href="/cafe/" th:text="${bestCafe['cafeName']}">이젠스터디카페</a></h3>
                                <p th:if="${bestCafe['detailAddress']} != null" th:text="${bestCafe['siDoName']}+' '+${bestCafe['siGunGuName']}+' '+${bestCafe['roadAddress']}">
                                    서울특별시 노원구 동일로 500</p>
                                <p th:unless="${bestCafe['detailAddress']} != null" th:text="${bestCafe['siDoName']}+' '+${bestCafe['siGunGuName']}+' '+${bestCafe['roadAddress']}+' '+${bestCafe['detailAddress']}">
                                    서울특별시 노원구 동일로 500</p>
                                <span class="price">최소 <strong th:text="${#numbers.formatInteger(bestCafe['minPrice'], 3, 'COMMA')}">50,000<i
                                    class="fa-solid fa-won-sign"></i></strong>원 /시간당</span>
                            </div>
                            <ul>
                                <li><i class="icon_clock_alt"></i> <strong th:text="${bestCafe['startTime']}+'시 ~ '+${bestCafe['endTime']}+'시'">
                                    7시 ~ 20시</strong></li>
                                <li>
                                    <div class="score"><span>
                                        <em th:switch="${#numbers.formatInteger(bestCafe['cafeRating'],1)}">
                                            <em th:case="5">Superb</em>
                                            <em th:case="4">VeryGood</em>
                                            <em th:case="3">Good</em>
                                            <em th:case="2">Pleasant</em>
                                            <em th:case="1">Poor</em>
                                            <em th:case="*">No Rating</em>
                                        </em>
                                        <em th:if="${bestCafe['reviewCount']} != null" th:text="${bestCafe['reviewCount']}+' Reviews'">30 Reviews</em>
                                        <em th:if="${bestCafe['reviewCount']} == null">0 Reviews</em></span>
                                        <strong th:if="${bestCafe['cafeRating']} == null">0.0</strong>
                                        <strong th:unless="${bestCafe['cafeRating']} == null" th:text="${#numbers.formatDecimal(bestCafe['cafeRating'],1,1)}">5.0</strong>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /item -->
                </div>
                <!-- /carousel -->
                <p class="btn_home_align"><a href="/cafe/list" class="btn_1 rounded">모든 카페 만나보기</a></p>
                <hr class="large">
            </div>
            <!-- /container -->

            <div class="container container-custom margin_30_95">
                <div class="banner mb-0" data-cue="zoomIn">
                    <div class="wrapper d-flex align-items-center opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.3)">
                        <div>
                            <!-- <small>Study Group</small> -->
                            <h3>당신의 완벽한<br>스터디 경험은 이곳에서</h3>
                            <p>원하는 스터디 그룹을 찾고 만약 없다면 직접 만들어 보세요</p>
                            <a href="/group" class="btn_1">스터디 그룹 보기</a>
                        </div>
                    </div>
                    <!-- /wrapper -->
                </div>
                <!-- /banner -->

            </div>
            <!-- /container -->


            <div class="call_section">
                <div class="container clearfix">
                    <div class="col-lg-5 col-md-6 float-end wow position-relative" data-wow-offset="250">
                        <div class="block-reveal">
                            <div class="block-vertical"></div>

                        </div>
                    </div>
                </div>
            </div>
            <!--/call_section-->
        </main>
        <!-- /main -->
    </th:block>

    <th:block th:fragment="scripts">
    </th:block>

</th:block>

</html>