<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block
        th:replace="~{/common/layout/common_layout_V2 :: setContent(~{this :: head} ,~{this :: content}, ~{this :: scripts})}">

    <th:block th:fragment="head">
        <meta name="author" content="VJCommando">
        <meta name="description" content="LETS - 결제 완료">
        <title>LETS - 결제 완료</title>
    </th:block>

    <th:block th:fragment="content">
        <!-- main -->
        <main>
            <div class="hero_in cart_section last">
                <div class="wrapper">
                    <div class="container">
                        <div class="bs-wizard clearfix">
                            <div class="bs-wizard-step">
                                <div class="text-center bs-wizard-stepnum">예약 확인</div>
                                <div class="progress">
                                    <div class="progress-bar"></div>
                                </div>
                                <p class="bs-wizard-dot"></p>
                            </div>

                            <div class="bs-wizard-step">
                                <div class="text-center bs-wizard-stepnum">결제</div>
                                <div class="progress">
                                    <div class="progress-bar"></div>
                                </div>
                                <p class="bs-wizard-dot"></p>
                            </div>

                            <div class="bs-wizard-step active">
                                <div class="text-center bs-wizard-stepnum">결제 완료!</div>
                                <div class="progress">
                                    <div class="progress-bar"></div>
                                </div>
                                <p class="bs-wizard-dot"></a>
                            </div>
                        </div>
                        <!-- End bs-wizard -->
                        <div id="confirm">
                            <h4>예약이 완료되었습니다!</h4>
                            <p>마이페이지에서 예약 정보를 확인하실 수 있습니다.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /hero_in -->
        </main>
        <!-- /main -->
    </th:block>

    <th:block th:fragment="scripts">
    </th:block>

</th:block>

</html>