<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block
    th:replace="~{/common/layout/common_layout_V2 :: setContent(~{this :: head} ,~{this :: content}, ~{this :: scripts})}">

    <th:block th:fragment="head">
        <meta name="author" content="VJCommando">
        <meta name="description" content="LETS - 결제 페이지">
        <title>LETS - 결제 페이지</title>
    </th:block>

    <th:block th:fragment="content">
        <!-- main -->
        <main>
            <div class="hero_in cart_section">
                <div class="wrapper">
                    <div class="container">
                        <div class="bs-wizard clearfix">
                            <div class="bs-wizard-step">
                                <div class="text-center bs-wizard-stepnum">예약 확인</div>
                                <div class="progress">
                                    <div class="progress-bar"></div>
                                </div>
                                <a href="reservation.html" class="bs-wizard-dot"></a>
                            </div>

                            <div class="bs-wizard-step active">
                                <div class="text-center bs-wizard-stepnum">결제</div>
                                <div class="progress">
                                    <div class="progress-bar"></div>
                                </div>
                                <a href="#0" class="bs-wizard-dot"></a>
                            </div>

                            <div class="bs-wizard-step disabled">
                                <div class="text-center bs-wizard-stepnum">결제 완료!</div>
                                <div class="progress">
                                    <div class="progress-bar"></div>
                                </div>
                                <a href="#0" class="bs-wizard-dot"></a>
                            </div>
                        </div>
                        <!-- End bs-wizard -->
                    </div>
                </div>
            </div>
            <!--/hero_in-->
            <form th:action="@{'/reservation/' + ${reservation.ID} + '/payment'}" action="javascript:void(0);" class="needs-validation" novalidate method="post" name="payForm">
                <div class="bg_color_1">
                    <div class="container margin_60_35">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="box_cart">
                                    <div class="form_title">
                                        <h3><strong>★</strong>결제자 정보</h3>
                                        <p>
                                            결제자의 세부 정보를 입력해 주세요.
                                        </p>
                                    </div>
                                    <div class="step">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="name_booking">이름</label>
                                                    <input type="text" class="form-control" id="name_booking"
                                                           name="name_booking" required>
                                                    <div class="invalid-feedback">이름을 정확히 입력하여 주세요...</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="email_booking">이메일</label>
                                                    <input type="email" id="email_booking" name="email_booking"
                                                           class="form-control" required>
                                                    <div class="invalid-feedback">이메일을 정확히 입력하여 주세요...</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="telephone_booking">전화번호</label>
                                                    <input type="tel" id="telephone_booking" name="telephone_booking"
                                                           class="form-control" required>
                                                    <div class="invalid-feedback">전화번호를 정확히 입력하여 주세요... (ex.
                                                        01012345678)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End step -->
                                    <div id="policy" class="mt-5">
                                        <h5>예약 및 결제 세부 정책</h5>
                                        <p class="nomargin">예약 및 결제에 대한 세부 사항은 <a th:href="@{/support/help}" href="#0">이 페이지에서 확인 가능</a> 합니다.<br>
                                            보다 더한 질문이나 요청은 FAQ 페이지를 참고 바랍니다.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- /col -->

                            <aside class="col-lg-4" id="sidebar">
                                <div class="box_detail">
                                    <div id="total_cart">
                                        Total <span data-th-text="${#numbers.formatInteger(reservation.totalPrice, 3, 'COMMA') + '원'}" class="float-end">79,000</span>
                                    </div>
                                    <ul class="cart_details">
                                        <li>예약일 <span th:text="${reservation['booking_date']}">2023-09-04</span></li>
                                        <li>이용시간
                                            <span th:text="${reservation.START_TIME + ':00' +'-' + reservation.END_TIME + ':00'}">11:00 - 13:00</span>
                                        </li>
                                        <li>이용 총원 <span th:text="${reservation['HEAD_COUNT']}">2</span></li>
                                    </ul>
                                    <button type="submit" class="btn_1 full-width purchase">
                                        결제
                                    </button>
                                    <div class="text-center"><small>버튼을 누르면 결제가 진행됩니다.</small>
                                    </div>
                                </div>
                            </aside>
                        </div>
                        <!-- /row -->
                    </div>
                    <!-- /container -->
                </div>
            </form>
            <!-- /bg_color_1 -->
        </main>
        <!--/main-->
    </th:block>

    <th:block th:fragment="scripts">

        <!--iamport 라이브러리-->
        <!-- jQuery -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
        <!-- iamport.payment.js -->
        <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>

        <script th:inline="javascript">
            document.addEventListener("DOMContentLoaded", function () {
                const emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
                const namePattern = /^[가-힣]{2,10}$/;
                const phoneNumberPattern = /^\d{3}\d{3,4}\d{4}$/;

                const form = document.querySelector('.needs-validation');
                const inputs = form.querySelectorAll('.form-control');

                function validateInput(inputElement, regexPattern) {
                    const inputValue = inputElement.value;
                    return regexPattern.test(inputValue);
                }

                inputs.forEach((input) => {
                    input.addEventListener('blur', function () {
                        const pattern =
                            input.getAttribute('id') === 'name_booking'
                                ? namePattern
                                : input.getAttribute('id') === 'email_booking'
                                    ? emailPattern
                                    : input.getAttribute('id') === 'telephone_booking'
                                        ? phoneNumberPattern
                                        : null;

                        if (pattern) {
                            const invalidFeedback = input.nextElementSibling;
                            const errorMessage =
                                input.getAttribute('id') === 'name_booking'
                                    ? '이름을 정확히 입력하여 주세요...'
                                    : input.getAttribute('id') === 'email_booking'
                                        ? '이메일을 정확히 입력하여 주세요...'
                                        : input.getAttribute('id') === 'telephone_booking'
                                            ? '전화번호를 정확히 입력하여 주세요... (ex. 01012345678)'
                                            : null;

                            if (!validateInput(input, pattern)) {
                                input.parentElement.classList.add('was-validated');
                                invalidFeedback.textContent = errorMessage;
                                invalidFeedback.style.display = 'block';
                            } else {
                                input.parentElement.classList.remove('was-validated');
                                invalidFeedback.style.display = 'none';
                            }
                        }
                    });
                });

                form.addEventListener('submit', function (event) {
                    event.preventDefault();

                    let isValid = true;

                    inputs.forEach((input) => {
                        const pattern =
                            input.getAttribute('id') === 'name_booking'
                                ? namePattern
                                : input.getAttribute('id') === 'email_booking'
                                    ? emailPattern
                                    : input.getAttribute('id') === 'telephone_booking'
                                        ? phoneNumberPattern
                                        : null;

                        if (pattern) {
                            const invalidFeedback = input.nextElementSibling;
                            const errorMessage =
                                input.getAttribute('id') === 'name_booking'
                                    ? '이름을 정확히 입력하여 주세요...'
                                    : input.getAttribute('id') === 'email_booking'
                                        ? '이메일을 정확히 입력하여 주세요...'
                                        : input.getAttribute('id') === 'telephone_booking'
                                            ? '전화번호를 정확히 입력하여 주세요... (ex. 01012345678)'
                                            : null;

                            if (!validateInput(input, pattern)) {
                                input.parentElement.classList.add('was-validated');
                                invalidFeedback.textContent = errorMessage;
                                invalidFeedback.style.display = 'block';
                                isValid = false;
                            }
                        }
                    });

                    if (!isValid) {
                        return;
                    } else {
                        // 아임포트 실행 코드를 이곳에 두세요
                        var IMP = window.IMP; // 생략가능
                        IMP.init('imp71428807'); // <-- 본인 가맹점 식별코드 삽입

                        var today = new Date();
                        var hours = today.getHours(); // 시
                        var minutes = today.getMinutes(); // 분
                        var seconds = today.getSeconds(); // 초
                        var milliseconds = today.getMilliseconds();
                        var merchantUid = hours + minutes + seconds + milliseconds;

                        var name_booking = document.getElementById('name_booking').value;
                        var email_booking = document.getElementById('email_booking').value;
                        var telephone_booking = document.getElementById('telephone_booking').value;
                        var cafeName = [[${reservation['cafe_name']}]];
                        var roomName = [[${reservation['room_name']}]];
                        var amount = [[${reservation.totalPrice}]];
                        var reservationId = [[${reservation.ID}]];
                        var cafeID = [[${reservation['cafeId']}]];

                        IMP.request_pay({
                            pg: 'html5_inicis', // 여기에 사용할 PG사 정보를 넣어주세요
                            pay_method: 'card',
                            merchant_uid: 'IMP' + merchantUid,
                            name: cafeName+'    '+'룸'+ roomName ,
                            amount: amount,
                            buyer_email: email_booking,
                            buyer_name: name_booking,
                            buyer_tel: telephone_booking
                        }, function (rsp) {
                            if (rsp.success) {
                                let msg = '결제가 완료되었습니다.';
                                console.log(msg);

                                $.ajax({
                                    type: "POST",
                                    url: '/reservation/' + reservationId + '/payment',
                                    data: {
                                        merchant_uid: 'IMP' + merchantUid,
                                        paymentType: 'card',
                                        payStatus: 'success',
                                        payName: name_booking,
                                        payEmail: email_booking,
                                        payPhoneNumber: telephone_booking
                                    },
                                    success: function (data) {
                                        console.log(data);
                                        window.location.href = '/reservation/payment/success';
                                    },
                                    error: function (xhr, status, error) {
                                        alert(error);
                                    }
                                });
                            } else {
                                $.ajax({
                                    type: "POST",
                                    url: '/reservation/' + reservationId + '/payment',
                                    data: {
                                        merchant_uid: 'IMP' + merchantUid,
                                        paymentType: 'card',
                                        payStatus: 'fail',
                                        payName: name_booking,
                                        payEmail: email_booking,
                                        payPhoneNumber: telephone_booking
                                    }
                                });

                                const url =  '/reservation/' + reservationId + '/payment';

                                fetch(url, {
                                    method: 'DELETE',
                                    headers: {
                                        'Content-Type': 'application/json',
                                    },
                                    body: JSON.stringify(reservationId),
                                }).then(response => {
                                    return response.text();
                                }).then(message => {
                                    if (message === 'success') {
                                        location.href = '/cafe/'+ cafeID;
                                    } else if (message === 'fail') {
                                    }
                                }).catch(error => {
                                    alert(error);
                                })

                                let msg = '결제에 실패하였습니다.';
                                msg += '에러내용 : ' + rsp.error_msg;
                                alert(msg);

                            }
                        });
                    }
                });
            });
        </script>
    </th:block>

</th:block>

</html>