<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block
        th:replace="~{/common/layout/common_layout_V2 :: setContent(~{this :: head} ,~{this :: content}, ~{this :: scripts})}">

    <th:block th:fragment="head">
        <meta name="author" content="VJCommando">
        <meta name="description" content="LETS | 페이지 설명">
        <title>LETS | 페이지 타이틀</title>
        <!-- custom link -->
        <link href="/css/blog.css" rel="stylesheet">
    </th:block>

    <th:block th:fragment="content">
        <!-- 메인 -->
        <main>
            <!--            &lt;!&ndash; 메인 베너 &ndash;&gt;-->
            <!--            <section class="hero_in general">-->
            <!--                <div class="wrapper">-->
            <!--                    <div class="container">-->
            <!--                        <h1 th:text="${studyGroup['NAME']}" class="fadeInUp"><span></span>주식 스터디</h1>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </section>-->
            <!--            &lt;!&ndash; /메인 베너 &ndash;&gt;-->

            <!--            &lt;!&ndash; 컨테이너 &ndash;&gt;-->
            <!--            <div class="container margin_60_35 mt-5">-->
            <!--                <div class="isotope-wrapper">-->
            <!--                    <div class="row">-->
            <!--                        &lt;!&ndash; 사이드 바 &ndash;&gt;-->
            <!--                        <aside class="col-lg-3" id="sidebar">-->
            <!--                            &lt;!&ndash; 카페 정보 위젯 &ndash;&gt;-->
            <!--                            <div class="widget">-->
            <!--                                <div class="bloglist singlepost pb-4">-->
            <!--                                    &lt;!&ndash; 스터디 그룹 정보 && 그룹 멤버 정보 출력 &ndash;&gt;-->
            <!--                                    &lt;!&ndash; GroupMemberList groupMember &ndash;&gt;-->
            <!--                                    &lt;!&ndash; Map<String, Object> studyGroup &ndash;&gt;-->
            <!--                                    <div class="d-flex">-->
            <!--                                        <h1 th:text="${studyGroup['NAME']}" class="my-3 me-2">주식 스터디</h1>-->
            <!--                                        &lt;!&ndash; 스터디 팀장만 노출 &ndash;&gt;-->
            <!--                                        <th:block th:if="${groupMember != null && groupMember.position == '팀장'}">-->
            <!--                                            <button class="btn btn-secondary my-auto" data-bs-toggle="modal"-->
            <!--                                                    data-bs-target="#settingModal" id="setting"-->
            <!--                                                    style="font-size: 14px;"><i class="fa-solid fa-wrench"></i>-->
            <!--                                            </button>-->
            <!--                                        </th:block>-->
            <!--                                    </div>-->
            <!--                                    <div class="postmeta">-->
            <!--                                        <ul class="d-flex justify-content-between">-->
            <!--                                            <li>-->
            <!--                                                <div class="text-secondary">멤버수 <strong-->
            <!--                                                        th:text="${studyGroup['CURRENTCOUNT']}"-->
            <!--                                                        class="ms-2 text-success fw-bold">40</strong> /-->
            <!--                                                    <th:block th:text="${studyGroup['TOTALCOUNT']}">50</th:block>-->
            <!--                                                    명-->
            <!--                                                </div>-->
            <!--                                            </li>-->
            <!--                                            &lt;!&ndash; 스터디 팀원이나 가입 전 회원은 팀장, 팀장은 멤버 초대 노출 &ndash;&gt;-->
            <!--                                            <li th:if="${groupMember == null || groupMember.position == '팀원'}">-->
            <!--                                                <div>팀장 : <span th:text="${studyGroup['MEMBERNAME']}">이희영</span></div>-->
            <!--                                            </li>-->
            <!--                                            <li th:if="${groupMember != null && groupMember.position == '팀장'}">-->
            <!--                                                <div><span>멤버 초대</span></div>-->
            <!--                                            </li>-->
            <!--                                        </ul>-->
            <!--                                    </div>-->
            <!--                                    <div class="mb-2">-->
            <!--                                        &lt;!&ndash; 가입 전 가입하기 버튼, 가입 후 글 작성 버튼 노출 &ndash;&gt;-->
            <!--                                        <button th:if="${groupMember == null}" class="btn btn-success my-auto"-->
            <!--                                                data-bs-toggle="modal"-->
            <!--                                                data-bs-target="#registerModal" id="register"-->
            <!--                                                style="font-size: 14px;">가입하기-->
            <!--                                        </button>-->
            <!--                                        <button th:if="${groupMember != null}" class="btn btn-success my-auto"-->
            <!--                                                data-bs-toggle="modal"-->
            <!--                                                data-bs-target="#writeModal" id="write" style="font-size: 14px;">글-->
            <!--                                            작성-->
            <!--                                        </button>-->
            <!--                                    </div>-->
            <!--                                </div>-->
            <!--                            </div>-->
            <!--                            &lt;!&ndash; /카페 정보 위젯 &ndash;&gt;-->

            <!-- 게시글 검색 위젯 -->
            <div class="widget">
                <div class="widget-title">
                    <h4>게시글 검색</h4>
                </div>
                <form th:action="@{/article/list/{page}(page=1)}" action="#" method="get" id="searchForm">
                    <div class="form-group">
                        <input type="hidden" name="page" value="1">
                        <input type="search" name="keyword" id="search" class="form-control"
                               placeholder="검색어를 입력해주세요">
                    </div>
                    <button type="submit" id="submit" class="btn_1 rounded">검색</button>
                </form>
            </div>
            <!-- /게시글 검색 위젯 -->

            <!-- 최근 게시글 위젯 -->
            <div class="widget">
                <div class="widget-title">
                    <h4>최근 게시글</h4>
                </div>
                <ul class="comments-list">
                    <li>
                        <div class="alignleft">
                            <a href="#"><img src="/img/blog-5.jpg" alt="#"></a>
                        </div>
                        <small>11.08.2016</small>
                        <h3><a href="#" title="">Verear qualisque ex minimum...</a></h3>
                    </li>
                    <li>
                        <div class="alignleft">
                            <a href="#0"><img src="/img/blog-6.jpg" alt=""></a>
                        </div>
                        <small>11.08.2016</small>
                        <h3><a href="#" title="">Verear qualisque ex minimum...</a></h3>
                    </li>
                    <li>
                        <div class="alignleft">
                            <a href="#0"><img src="/img/blog-4.jpg" alt=""></a>
                        </div>
                        <small>11.08.2016</small>
                        <h3><a href="#" title="">Verear qualisque ex minimum...</a></h3>
                    </li>
                </ul>
            </div>
            <!-- /최근 게시글 위젯 -->
            </aside>
            <!-- /사이드 바 -->

            <!-- 게시글 메인 -->
            <div class="col-lg-9">
                <th:block th:each="articleList : ${articleList}">
                    <div class="bloglist singlepost isotope-item">
                        <div class="d-flex mb-5 justify-content-between">
                            <div class="d-flex">
                                <div>
                                    <img class="rounded-5" src="img/avatar1.jpg" alt="">
                                </div>
                                <div class="ms-3 my-auto">
                                    <h6 th:text="${articleList['WRITER']}">이희영</h6>
                                    <span class="mb-0" th:text="${articleList.REGDATE}">2023-09-06</span>
                                </div>

                            </div>
                            <div class="d-flex">
                                <button th:data-bs-target="'#modifyModal_' + ${articleList.ID}"
                                        data-bs-target="#modifyModal" class="btn btn-warning mx-2"
                                        data-bs-toggle="modal"
                                        style="font-size: 14px; height: 30px;">수정
                                </button>
                                <form th:action="@{/article/list/delete}" th:method="post">
                                    <input type="hidden" name="id" th:value="${articleList.ID}"/>
                                    <button type="submit" class="btn btn-danger mx-2"
                                            style="font-size: 14px; height: 30px;">삭제
                                    </button>
                                </form>
                            </div>
                        </div>
                        <h1 class="mb-3" th:text="${articleList.TITLE}">주식 스터디</h1>
                        <div class="postmeta">
                            <!-- 추후 수정 필요함 %%이미지 패스 관련%%%
                            <p><img th:src="@{articleList.IMAGEPATH}" alt="" class="img-fluid" src="img/blog-single.jpg"></p> -->
                        </div>
                        <!-- /post meta -->
                        <div class="post-content">
                            <p th:text="${articleList.CONTENT}">...내용입니다.</p>
                            <div id="comments">
                                <hr/>

                                <div class="accordion" id="accordionExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                    th:data-bs-target="|#commentaccordion_${articleList['ID']}|" aria-expanded="true"
                                                    aria-controls="collapseOne">
                                                댓글 보기
                                            </button>
                                        </h2>
                                        <th:block th:each="comment : ${commentList}">
                                            <div id="collapseOne" class="accordion-collapse collapse show"
                                                th:id="|commentaccordion_${comment['ARTICLEID']}|">
                                                <div class="accordion-body">
                                                    <div class="card card-body">
                                                        <ul th:if="${articleList.ID == comment.ARTICLEID}">
                                                            <li>
                                                                <div class="comment_right clearfix">
                                                                    <div class="comment_info">
                                                                        <span th:text="${comment.COMMENTWRITER}">Anna Smith</span><span>|</span>
                                                                        <span th:text="${comment.COMMENTREGDATE}"> 2023-09-06</span><span>|</span>
                                                                        <div th:class="ms-2"
                                                                             th:text="${comment.CONTENT}">음
                                                                        </div>
                                                                            <form th:action="@{/article/list/comment/delete}" th:method="post">
                                                                                <input type="hidden" name="id" th:value="${comment.ID}"/>
                                                                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                                                                    <button type="submit" class="btn btn-danger mx-2"
                                                                                            style="font-size: 14px;">삭제
                                                                                    </button>
                                                                                </div>
                                                                            </form>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </th:block>
                                    </div>
                                </div>
                                <!--/댓글 collaspe-->
                            </div>
                            <h5>댓글 작성</h5>
                            <form th:action="@{/article/list/{page}/{articleId}/commentCreate(page=${pagination.params.requestPage}, articleId=${articleList['ID']})}"
                                  th:method="post">
                                <div class="form-group">
                                    <textarea class="form-control" th:name="content" placeholder="댓글을 입력해주세요."
                                    style="height: 100px;" required></textarea>
                                </div>
                                <div class="form-group">
                                    <button type="submit" id="submit2" class="btn_1 rounded add_bottom_30"
                                    >작성</button>
                                </div>
                            </form>
                        </div>
                        <!-- /col -->
                    </div>


                    <!-- Modify Modal -->
                    <div th:id="'modifyModal_' + ${articleList.ID}" class="modal fade modal-dialog-scrollable"
                         tabindex="-1" id="modifyModal"
                         aria-labelledby="exampleModalLabel"
                         aria-hidden="true" style="margin-top: 100px;">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">게시글 수정</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <form th:action="@{/article/list/{page}/update(page=${pagination.params.requestPage})}"
                                      th:method="post">
                                    <div class="modal-body">
                                        <!-- 수정 폼 -->
                                        <label for="title" class="form-label">제목</label>
                                        <input type="hidden" th:name="id" th:value="${articleList.ID}"/>
                                        <input th:name="title" th:id="title" class="form-control mb-2" id="title"
                                               name="title" type="text" placeholder="제목"/>
                                        <label for="content" class="form-label">내용</label>
                                        <textarea th:id="content" th:name="content" class="form-control mb-2"
                                                  name="content" id="content" cols="30" rows="10" placeholder="내용"
                                                  style="height: 100px;">내용</textarea>
                                        <div class="mb-3">
                                            <ul class="image-preview"></ul>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="modifyImage">사진</label>
                                            <input th:id="modifyImage" th:name="modifyImage" type="file"
                                                   class="real-upload form-control" accept="image/*" id="modifyImage"
                                                   name="modifyImage"/>
                                        </div>
                                        <!-- /수정 폼 -->
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">작성</button>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- /Modify Modal -->

                </th:block>
                <!-- /post -->
                <!-- /single-post -->

                <!--게시글 페이징 처리-->
                <div>
                    <ul class="pagination h-100 justify-content-center align-items-center">

                        <th:block th:if="${pagination.showFirst}">
                            <li class="page-item"><a th:href="@{/article/list/{page}(page=1)}"
                                                     class="page-link">처음으로</a></li>
                        </th:block>
                        <th:block th:if="${pagination.showPrevious}">
                            <li class="page-item"><a
                                    th:href="@{/article/list/{page}(page=${pagination.previousStartPage})}"
                                    class="page-link">이전목록</a></li>
                        </th:block>
                        <th:block
                                th:each="i : ${#numbers.sequence(pagination.getStartPage(), pagination.getEndPage())}">
                            <th:block th:if="${i == pagination.params.requestPage}">
                                <li class="page-item active"><a th:text="${i}" class="page-link" href="#">1</a></li>
                            </th:block>
                            <th:block th:if="${i != pagination.params.requestPage}">
                                <li class="page-item"><a th:text="${i}" th:href="@{/article/list/{page}(page=${i})}"
                                                         class="page-link" href="#">2</a></li>
                            </th:block>
                        </th:block>
                        <th:block th:if="${pagination.showNext}">
                            <li class="page-item"><a th:href="@{/article/list/{page}(page=${pagination.nextStartPage})}"
                                                     class="page-link">다음목록</a></li>
                        </th:block>
                        <th:block th:if="${pagination.showLast}">
                            <li class="page-item"><a th:href="@{/article/list/{page}(page=${pagination.totalPages})}"
                                                     class="page-link">끝으로</a></li>
                        </th:block>
                    </ul>
                </div>
            </div>      <!--/col-->
            </div>   <!-- /row -->
            </div>  <!--wrapper-->
            </div>  <!-- /container -->
        </main>  <!--/main-->

        <!-- 게시글 작성 모달 -->
        <div class="modal fade modal-dialog-scrollable" id="writeModal" tabindex="-1"
             aria-labelledby="WriteModalLabel"
             aria-hidden="true" style="margin-top: 100px;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="WriteModalLabel">게시글 작성</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form th:action="@{/article/list/{page}}" th:method="post">
                        <div class="form-group modal-body">
                            <label for="title" class="form-label">제목</label>
                            <input type="text" class="form-control" name="title" placeholder="Enter Title" required>
                            <label for="content" class="form-label">내용</label>
                            <textarea class="form-control mb-2" name="content" cols="30" rows="10"
                                      placeholder="내용" required></textarea>
                            <div class="mb-3">
                                <ul class="image-preview"></ul>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="imagePath">사진</label>
                                <input type="file" class="real-upload form-control" accept="image/*" id="imagePath"
                                       name="imagePath"/>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                            <button type="submit" class="btn btn-primary">작성</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /게시글 작성 모달 -->

        <!--    &lt;!&ndash; 스터디 가입 모달 &ndash;&gt;-->
        <!--    <div class="modal fade modal-dialog-scrollable" id="registerModal" tabindex="-1"-->
        <!--         aria-labelledby="RegisterModalLabel"-->
        <!--         aria-hidden="true" style="margin-top: 100px;">-->
        <!--        <div class="modal-dialog">-->
        <!--            <div class="modal-content">-->
        <!--                <div class="modal-header">-->
        <!--                    <h1 class="modal-title fs-5" id="RegisterModalLabel">스터디 가입</h1>-->
        <!--                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
        <!--                </div>-->
        <!--                <div class="modal-body">-->
        <!--                    <form th:action="@{/group/join/{id}(id=${studyGroup['ID']})}" th:method="post" action="">-->
        <!--                        &lt;!&ndash; 회원 정보 출력 &ndash;&gt;-->
        <!--                        &lt;!&ndash; Member member &ndash;&gt;-->
        <!--                        <div class="mb-2">-->
        <!--                            <label for="name" class="form-label">이름</label>-->
        <!--                            <input th:readonly="${member.name != null ? 'true' : 'false'}" th:value="${member.name}"-->
        <!--                                   class="form-control mb-2" id="name" name="name" type="text" placeholder="이름"/>-->
        <!--                        </div>-->
        <!--                        <div class="mb-2">-->
        <!--                            <label for="gender" class="form-label">성별</label>-->
        <!--                            <select class="form-select" name="gender" id="gender">-->
        <!--                                <option th:hidden="${member.gender != 'male' ? 'true' : 'false'}"-->
        <!--                                        th:selected="'male' == ${member.gender}" value="male">남자-->
        <!--                                </option>-->
        <!--                                <option th:hidden="${member.gender != 'female' ? 'true' : 'false'}"-->
        <!--                                        th:selected="'female' == ${member.gender}" value="female">여자-->
        <!--                                </option>-->
        <!--                                <option th:hidden="${member.gender != 'others' ? 'true' : 'false'}"-->
        <!--                                        th:selected="'others' == ${member.gender}" value="others">기타-->
        <!--                                </option>-->
        <!--                            </select>-->
        <!--                        </div>-->
        <!--                        <div class="mb-2">-->
        <!--                            <label for="age" class="form-label">나이</label>-->
        <!--                            <input th:readonly="${member.age != null ? 'true' : 'false'}" th:value="${member.age}"-->
        <!--                                   class="form-control mb-2" id="age" name="age"-->
        <!--                                   type="number" placeholder="나이"/>-->
        <!--                        </div>-->
        <!--                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>-->
        <!--                        <button type="submit" class="btn btn-primary">가입</button>-->
        <!--                    </form>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--    </div>-->
        <!--    &lt;!&ndash; /스터디 가입 모달 &ndash;&gt;-->

        <!--    &lt;!&ndash; 스터디 설정 모달 &ndash;&gt;-->
        <!--    <div class="modal fade modal-dialog-scrollable" id="settingModal" tabindex="-1"-->
        <!--         aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top: 100px;">-->
        <!--        <div class="modal-dialog modal-dialog-scrollable" style="max-width: 800px !important;">-->
        <!--            <div class="modal-content">-->
        <!--                <div class="modal-header">-->
        <!--                    <h1 class="mb-3">스터디 그룹 관리</h1>-->
        <!--                    <button type="button" class="btn-close" id="settingModalCloseBtn" data-bs-dismiss="modal"-->
        <!--                            aria-label="Close"></button>-->
        <!--                </div>-->
        <!--                <div class="modal-body pb-5">-->
        <!--                    <div class="accordion" id="accordionExample">-->
        <!--                        &lt;!&ndash; 스터디 설정 아코디언 &ndash;&gt;-->
        <!--                        <div class="accordion-item">-->
        <!--                            <h2 class="accordion-header">-->
        <!--                                <button class="accordion-button settingAccordionBtn" type="button"-->
        <!--                                        data-bs-toggle="collapse"-->
        <!--                                        data-bs-target="#collapseOne" aria-expanded="false"-->
        <!--                                        aria-controls="collapseOne">-->
        <!--                                    스터디 그룹 설정-->
        <!--                                </button>-->
        <!--                            </h2>-->
        <!--                            <div id="collapseOne" class="accordion-collapse collapse"-->
        <!--                                 data-bs-parent="#accordionExample">-->
        <!--                                <div class="accordion-body">-->
        <!--                                    &lt;!&ndash; 스터디 정보 출력 &ndash;&gt;-->
        <!--                                    &lt;!&ndash; Map<String, Object> studyGroup &ndash;&gt;-->
        <!--                                    <form th:action="@{/group/update/{id}(id=${studyGroup['ID']})}" th:method="post"-->
        <!--                                          action="">-->
        <!--                                        <div class="mb-3">-->
        <!--                                            <ul class="image-preview"></ul>-->
        <!--                                        </div>-->
        <!--                                        <div class="mb-3">-->
        <!--                                            <label class="form-label" for="settingImage">대표 이미지</label>-->
        <!--                                            <input th:text="${studyGroup['IMAGEPATH']}" type="file"-->
        <!--                                                   class="real-upload form-control"-->
        <!--                                                   accept="image/*" id="settingImage"-->
        <!--                                                   name="settingImage"/>-->
        <!--                                        </div>-->
        <!--                                        <div class="mb-3">-->
        <!--                                            <label class="form-label" for="studyName">스터디 이름</label>-->
        <!--                                            <input th:value="${studyGroup['NAME']}" class="form-control"-->
        <!--                                                   id="studyName" name="name"-->
        <!--                                                   type="text" value="스터디이름"/>-->
        <!--                                        </div>-->
        <!--                                        <div class="mb-3">-->
        <!--                                            <label class="form-label" for="totalCount">스터디 최대 멤버(명)</label>-->
        <!--                                            <select class="form-select" name="totalCount" id="totalCount">-->
        <!--                                                <option th:selected="'10' == ${studyGroup['TOTALCOUNT']}"-->
        <!--                                                        value="10">10 (최소 10)-->
        <!--                                                </option>-->
        <!--                                                <option th:selected="'20' == ${studyGroup['TOTALCOUNT']}"-->
        <!--                                                        value="20">20-->
        <!--                                                </option>-->
        <!--                                                <option th:selected="'30' == ${studyGroup['TOTALCOUNT']}"-->
        <!--                                                        value="30">30-->
        <!--                                                </option>-->
        <!--                                                <option th:selected="'40' == ${studyGroup['TOTALCOUNT']}"-->
        <!--                                                        value="40">40-->
        <!--                                                </option>-->
        <!--                                                <option th:selected="'50' == ${studyGroup['TOTALCOUNT']}"-->
        <!--                                                        value="50">50-->
        <!--                                                </option>-->
        <!--                                                <option th:selected="'60' == ${studyGroup['TOTALCOUNT']}"-->
        <!--                                                        value="60">60-->
        <!--                                                </option>-->
        <!--                                                <option th:selected="'70' == ${studyGroup['TOTALCOUNT']}"-->
        <!--                                                        value="70">70-->
        <!--                                                </option>-->
        <!--                                                <option th:selected="'80' == ${studyGroup['TOTALCOUNT']}"-->
        <!--                                                        value="80">80-->
        <!--                                                </option>-->
        <!--                                                <option th:selected="'90' == ${studyGroup['TOTALCOUNT']}"-->
        <!--                                                        value="90">90-->
        <!--                                                </option>-->
        <!--                                                <option th:selected="'100' == ${studyGroup['TOTALCOUNT']}"-->
        <!--                                                        value="100">100-->
        <!--                                                </option>-->
        <!--                                            </select>-->
        <!--                                        </div>-->
        <!--                                        <div class="mb-3">-->
        <!--                                            <label class="form-label" for="subject">스터디 주제</label>-->
        <!--                                            <select class="form-select" name="subject" id="subject">-->
        <!--                                                <option th:selected="'stock' == ${studyGroup['SUBJECT']}"-->
        <!--                                                        value="stock">주식 / 코인-->
        <!--                                                </option>-->
        <!--                                                <option th:selected="'econo' == ${studyGroup['SUBJECT']}"-->
        <!--                                                        value="econo">경제 / 부동산-->
        <!--                                                </option>-->
        <!--                                                <option th:selected="'emplo' == ${studyGroup['SUBJECT']}"-->
        <!--                                                        value="emplo">취업-->
        <!--                                                </option>-->
        <!--                                                <option th:selected="'inter' == ${studyGroup['SUBJECT']}"-->
        <!--                                                        value="inter">면접-->
        <!--                                                </option>-->
        <!--                                                <option th:selected="'essay' == ${studyGroup['SUBJECT']}"-->
        <!--                                                        value="essay">논술-->
        <!--                                                </option>-->
        <!--                                                <option th:selected="'langu' == ${studyGroup['SUBJECT']}"-->
        <!--                                                        value="langu">언어-->
        <!--                                                </option>-->
        <!--                                                <option th:selected="'it' == ${studyGroup['SUBJECT']}" value="it">-->
        <!--                                                    IT-->
        <!--                                                </option>-->
        <!--                                                <option th:selected="'certi' == ${studyGroup['SUBJECT']}"-->
        <!--                                                        value="certi">자격증-->
        <!--                                                </option>-->
        <!--                                                <option th:selected="'study' == ${studyGroup['SUBJECT']}"-->
        <!--                                                        value="study">공부-->
        <!--                                                </option>-->
        <!--                                                <option th:selected="'all' == ${studyGroup['SUBJECT']}" value="all">-->
        <!--                                                    기타-->
        <!--                                                </option>-->
        <!--                                            </select>-->
        <!--                                        </div>-->
        <!--                                        <div class="mb-3">-->
        <!--                                            <label class="form-label" for="address">스터디 대표 주소</label>-->
        <!--                                            <input th:value="${studyGroup['SIGUNGUNAME']}" class="form-control"-->
        <!--                                                   id="address" name="siGunGuName" type="text"-->
        <!--                                                   placeholder="클릭하여 주소 입력하세요" readonly/>-->
        <!--                                        </div>-->
        <!--                                        <div class="d-flex justify-content-end">-->
        <!--                                            <button type="button" class="btn btn-secondary me-3"-->
        <!--                                                    data-bs-dismiss="modal">취소-->
        <!--                                            </button>-->
        <!--                                            <button class="btn btn-success" type="submit">설정</button>-->
        <!--                                        </div>-->
        <!--                                    </form>-->
        <!--                                </div>-->
        <!--                                <div class="p-3">-->
        <!--                                    <form th:action="@{/group/delete/{id}(id=${studyGroup['ID']})}"-->
        <!--                                          th:method="post">-->
        <!--                                        <div class="text-danger">-->
        <!--                                            <button class="btn" type="submit" style="font-size: 13px;">-->
        <!--                                                <i class="fa-solid fa-trash-can me-2"></i>스터디 삭제-->
        <!--                                            </button>-->
        <!--                                        </div>-->
        <!--                                    </form>-->
        <!--                                </div>-->
        <!--                            </div>-->
        <!--                        </div>-->
        <!--                        &lt;!&ndash; /스터디 설정 아코디언 &ndash;&gt;-->

        <!--                        &lt;!&ndash; 스터디 가입 신청 내역 아코디언 &ndash;&gt;-->
        <!--                        <div class="accordion-item">-->
        <!--                            <h2 class="accordion-header">-->
        <!--                                <button class="accordion-button settingAccordionBtn collapsed" type="button"-->
        <!--                                        data-bs-toggle="collapse"-->
        <!--                                        data-bs-target="#collapseTwo" aria-expanded="false"-->
        <!--                                        aria-controls="collapseTwo">-->
        <!--                                    스터디 그룹 가입 신청 내역-->
        <!--                                </button>-->
        <!--                            </h2>-->
        <!--                            <div id="collapseTwo" class="accordion-collapse collapse"-->
        <!--                                 data-bs-parent="#accordionExample">-->
        <!--                                <div class="accordion-body">-->
        <!--                                    <table class="table table-hover">-->
        <!--                                        <thead>-->
        <!--                                        <tr class="table-danger">-->
        <!--                                            <th scope="col">#</th>-->
        <!--                                            <th scope="col">이름</th>-->
        <!--                                            <th scope="col">성별</th>-->
        <!--                                            <th scope="col">나이</th>-->
        <!--                                            <th scope="col">신청일</th>-->
        <!--                                            <th scope="col">승인</th>-->
        <!--                                        </tr>-->
        <!--                                        </thead>-->
        <!--                                        <tbody>-->
        <!--                                        &lt;!&ndash; 스터디 가입 신청 내역 출력 &ndash;&gt;-->
        <!--                                        &lt;!&ndash; List<Map<String, Object>> contactList &ndash;&gt;-->
        <!--                                        <tr th:each="contact, stat : ${contactList}">-->
        <!--                                            <th th:text="${stat.count}" scope="row">1</th>-->
        <!--                                            <td th:text="${contact.NAME}">홍길동</td>-->
        <!--                                            <td th:text="${contact.GENDER}">남자</td>-->
        <!--                                            <td th:text="${contact.AGE}">20대</td>-->
        <!--                                            <td th:text="${contact.REGDATE}">2023-09-14</td>-->
        <!--                                            <td>@mdo</td>-->
        <!--                                        </tr>-->
        <!--                                        </tbody>-->
        <!--                                    </table>-->
        <!--                                </div>-->
        <!--                            </div>-->
        <!--                        </div>-->
        <!--                        &lt;!&ndash; /스터디 가입 신청 내역 아코디언 &ndash;&gt;-->

        <!--                        &lt;!&ndash; 스터디 멤버 관리 아코디언 &ndash;&gt;-->
        <!--                        <div class="accordion-item">-->
        <!--                            <h2 class="accordion-header">-->
        <!--                                <button class="accordion-button settingAccordionBtn collapsed" type="button"-->
        <!--                                        data-bs-toggle="collapse"-->
        <!--                                        data-bs-target="#collapseThree" aria-expanded="false"-->
        <!--                                        aria-controls="collapseThree">-->
        <!--                                    스터디 그룹 멤버 관리-->
        <!--                                </button>-->
        <!--                            </h2>-->
        <!--                            <div id="collapseThree" class="accordion-collapse collapse"-->
        <!--                                 data-bs-parent="#accordionExample">-->
        <!--                                <div class="accordion-body">-->
        <!--                                    <table class="table table-hover">-->
        <!--                                        <thead>-->
        <!--                                        <tr class="table-danger">-->
        <!--                                            <th scope="col">#</th>-->
        <!--                                            <th scope="col">이름</th>-->
        <!--                                            <th scope="col">성별</th>-->
        <!--                                            <th scope="col">나이</th>-->
        <!--                                            <th scope="col">탈퇴</th>-->
        <!--                                        </tr>-->
        <!--                                        </thead>-->
        <!--                                        <tbody>-->
        <!--                                        &lt;!&ndash; 스터디 멤버 출력 &ndash;&gt;-->
        <!--                                        &lt;!&ndash; List<Map<String, Object>> memberList &ndash;&gt;-->
        <!--                                        <tr th:each="member, stat : ${memberList}">-->
        <!--                                            <th th:text="${stat.count}" scope="row">1</th>-->
        <!--                                            <td th:text="${member.NAME}">홍길동</td>-->
        <!--                                            <td th:text="${member.GENDER}">남자</td>-->
        <!--                                            <td th:text="${member.AGE}">20대</td>-->
        <!--                                            <td>@mdo</td>-->
        <!--                                        </tr>-->
        <!--                                        </tbody>-->
        <!--                                    </table>-->
        <!--                                </div>-->
        <!--                            </div>-->
        <!--                        </div>-->
        <!--                        &lt;!&ndash; /스터디 멤버 관리 아코디언 &ndash;&gt;-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--    </div>-->
        <!--    &lt;!&ndash; /스터디 설정 모달 &ndash;&gt;-->
    </th:block>

    <th:block th:fragment="scripts">
        <script src="/js/custom/mygroup.js"></script>
        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
        <script src="/js/custom/address.js"></script>
        <script src="/js/custom/image_upload.js"></script>
    </th:block>

</th:block>

</html>