<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vj.lets.domain.review.mapper.ReviewHistoryMapper">

    <insert id="create">
        INSERT INTO REVIEW_HISTORY(ID, REVIEW_ID)
        VALUES (REVIEW_HISTORY_ID_SEQ.NEXTVAL, REVIEW_ID_SEQ.CURRVAL)
    </insert>

    <insert id="createByUpdate">
        INSERT INTO REVIEW_HISTORY(ID, MODIFY_COMMENT, REVIEW_ID)
        VALUES(REVIEW_HISTORY_ID_SEQ.NEXTVAL, #{comment}, #{reviewId})
    </insert>

</mapper>