<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block
    th:replace="~{/dashboard/layout/dashboard_layout :: setContent(~{this :: head} ,~{this :: content}, ~{this :: scripts})}">

    <th:block th:fragment="head">
        <meta name="author" content="VJCommando">
        <meta name="description" content="LETS - My Page">
        <title>LETS - My Page</title>

        <link href="/dashboard/vendor/animate.min.css" rel="stylesheet">
        <link href="/dashboard/vendor/magnific-popup.css" rel="stylesheet">
    </th:block>

    <th:block th:fragment="content">
        <!-- Content -->
        <div class="content-wrapper">
            <div class="container-fluid">
                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/dashboard/member/mypage.html">My page</a>
                    </li>
                    <li class="breadcrumb-item active">Reviews confirm</li>
                </ol>
                <div class="box_general">
                    <div class="header_box">
                        <h2 class="d-inline-block">나의 리뷰</h2>
                        <div class="filter">
                            <div class="styled-select short">
                                <select name="orderby">
                                    <option value="Any time">Any time</option>
                                    <option value="Latest">Latest</option>
                                    <option value="Oldest">Oldest</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="list_general reviews">
                        <ul>
                            <li>
                                <span>June 15 2017</span>
                                <span class="rating"><i class="fa fa-fw fa-star yellow"></i><i
                                    class="fa fa-fw fa-star yellow"></i><i
                                    class="fa fa-fw fa-star yellow"></i><i class="fa fa-fw fa-star yellow"></i><i
                                    class="fa fa-fw fa-star"></i></span>
                                <figure><img src="/dashboard/img/item_1.jpg" alt=""></figure>
                                <h4>Hotel Mariott <small>by M.Twain</small></h4>
                                <p>Lorem ipsum dolor sit amet, dolores mandamus moderatius ea ius, sed civibus vivendum
                                    imperdiet ei, amet
                                    tritani sea id. Ut veri diceret fierent mei, qui facilisi suavitate euripidis ad. In
                                    vim
                                    mucius menandri
                                    convenire, an brute zril vis. Ancillae delectus necessitatibus no eam, at porro
                                    solet veniam
                                    mel, ad
                                    everti nostrud vim. Eam no menandri pertinacia deterruisset. </p>
                                <div class="ml-5 mr-5 bg-dark text-white">
                                    <p class="mr-3 text-right">June 15 2017</p>
                                    <p class="ml-5 mr-5">Lorem ipsum dolor sit amet, dolores mandamus moderatius ea ius,
                                        sed
                                        civibus vivendum imperdiet ei, amet
                                        tritani sea id. Ut veri diceret fierent mei, qui facilisi suavitate euripidis
                                        ad. In vim
                                        mucius menandri
                                        convenire, an brute zril vis. Ancillae delectus necessitatibus no eam, at porro
                                        solet
                                        veniam mel, ad
                                        everti nostrud vim. Eam no menandri pertinacia deterruisset.</p>
                                </div>
                                <p class="inline-popups">
                                    <a href="#modal-reply" data-effect="mfp-zoom-in" class="btn_1 gray"><i
                                        class="fa fa-fw fa-pencil"></i>
                                        리뷰 수정</a>
                                    <a href="#" data-effect="mfp-zoom-in" class="btn_1 gray"><i
                                        class="fa fa-fw fa-times-circle-o"></i> 리뷰
                                        삭제</a>
                                </p>
                            </li>
                            <li>
                                <span>June 15 2017</span>
                                <span class="rating"><i class="fa fa-fw fa-star yellow"></i><i
                                    class="fa fa-fw fa-star yellow"></i><i
                                    class="fa fa-fw fa-star yellow"></i><i class="fa fa-fw fa-star"></i><i
                                    class="fa fa-fw fa-star"></i></span>
                                <figure><img src="/dashboard/img/item_2.jpg" alt=""></figure>
                                <h4>Da Alfredo <small>by M.Giuliani</small></h4>
                                <p>Ex omnis error aliquam quo, eu eos atqui accusam, ex nec sensibus erroribus
                                    principes. No pro
                                    albucius
                                    eloquentiam accommodare. Mei id illud posse persius. Nec eu dico lucilius delicata,
                                    qui
                                    propriae
                                    voluptaria eu.</p>
                                <p class="inline-popups">
                                    <a href="#modal-reply" data-effect="mfp-zoom-in" class="btn_1 gray"><i
                                        class="fa fa-fw fa-pencil"></i>
                                        리뷰 수정</a>
                                    <a href="#" data-effect="mfp-zoom-in" class="btn_1 gray"><i
                                        class="fa fa-fw fa-times-circle-o"></i> 리뷰
                                        삭제</a>
                                </p>
                            </li>
                            <li>
                                <span>June 15 2017</span>
                                <span class="rating"><i class="fa fa-fw fa-star yellow"></i><i
                                    class="fa fa-fw fa-star yellow"></i><i
                                    class="fa fa-fw fa-star yellow"></i><i class="fa fa-fw fa-star yellow"></i><i
                                    class="fa fa-fw fa-star"></i></span>
                                <figure><img src="/dashboard/img/item_3.jpg" alt=""></figure>
                                <h4>Pompidue Museum <small>by G.Lukas</small></h4>
                                <p>Cum id mundi admodum menandri, eum errem aperiri at. Ut quas facilis qui, euismod
                                    admodum
                                    persequeris
                                    cum at. Summo aliquid eos ut, eum facilisi salutatus ne. Mazim option abhorreant ne
                                    his. Mel
                                    simul
                                    iisque albucius at, probatus indoctum efficiendi mei ei. Veniam percipit ei sea.</p>
                                <p class="inline-popups">
                                    <a href="#modal-reply" data-effect="mfp-zoom-in" class="btn_1 gray"><i
                                        class="fa fa-fw fa-pencil"></i>
                                        리뷰 수정</a>
                                    <a href="#" data-effect="mfp-zoom-in" class="btn_1 gray"><i
                                        class="fa fa-fw fa-times-circle-o"></i> 리뷰
                                        삭제</a>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /box_general-->
                <nav aria-label="...">
                    <ul class="pagination pagination-sm add_bottom_30">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
                <!-- /pagination-->
            </div>
            <!-- /container-fluid-->
        </div>
        <!-- /container-wrapper-->
        <!-- /Content -->
    </th:block>

    <th:block th:fragment="scripts">
        <!-- Custom scripts for this page -->
        <!-- /custom scripts -->
    </th:block>

</th:block>

</html>