<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vj.lets.domain.group.mapper.GroupMemberListMapper">

    <insert id="create" parameterType="int">
        INSERT INTO GROUP_MEMBER_LIST(ID, POSITION, MEMBER_ID, STUDY_GROUP_ID)
        VALUES (GROUP_MEMBER_LIST_ID_SEQ.NEXTVAL, '팀장', #{id}, STUDY_GROUP_ID_SEQ.CURRVAL)
    </insert>

    <select id="findByAll" parameterType="int">
        SELECT ID, POSITION, MEMBER_ID, STUDY_GROUP_ID
        FROM GROUP_MEMBER_LIST

        WHERE STUDY_GROUP_ID = #{studyGroupId}
    </select>

    <insert id="addMember">
        INSERT INTO GROUP_MEMBER_LIST(ID, POSITION, MEMBER_ID, STUDY_GROUP_ID)
        VALUES (GROUP_MEMBER_LIST_ID_SEQ.NEXTVAL, '팀원', #{id}, #{studyGroupId})
    </insert>

    <delete id="removeMember">
        DELETE
        FROM GROUP_MEMBER_LIST
        WHERE MEMBER_ID = #{id} AND STUDY_GROUP_ID = #{studyGroupId}
    </delete>

    <select id="isMember">
        SELECT ID, POSITION, MEMBER_ID, STUDY_GROUP_ID
        FROM GROUP_MEMBER_LIST
        WHERE MEMBER_ID = #{memberId} AND STUDY_GROUP_ID = #{studyGroupId}
    </select>

    <select id="myGroupList" resultType="map">
        SELECT GML.ID             ID,
               GML.POSITION       POSTITION,
               GML.MEMBER_ID      MEMBERID,
               GML.STUDY_GROUP_ID STUDYGROUPID,
               SG.NAME            NAME,
               SG.TOTAL_COUNT     TOTALCOUNT,
               SG.CURRENT_COUNT   CURRENTCOUNT,
               SG.SUBJECT         SUBJECT,
               SG.IMAGE_PATH      IMAGEPATH,
               SGG.NAME           SIGUNGUNAME
        FROM GROUP_MEMBER_LIST GML
                 JOIN STUDY_GROUP SG ON GML.STUDY_GROUP_ID = SG.ID
                 JOIN SI_GUN_GU sgg ON SG.SI_GUN_GU_ID = SGG.ID
        WHERE MEMBER_ID = #{memberId}
    </select>
</mapper>