<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vj.lets.domain.group.mapper.GroupHistoryMapper">

    <insert id="create">
        INSERT INTO GROUP_HISTORY(ID, STUDY_GROUP_ID)
        VALUES (GROUP_HISTORY_ID_SEQ.NEXTVAL, STUDY_GROUP_ID_SEQ.CURRVAL)
    </insert>



</mapper>