<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vj.lets.domain.group.mapper.ParticipationListMapper">

    <insert id="createParticipationList" parameterType="int">
        INSERT INTO PARTICIPATION_LIST (ID, MEMBER_TYPE, MEMBER_ID, STUDY_PLAN_ID)
        VALUES (PARTICIPATION_LIST_ID_SEQ.nextval, '주최자', #{memberId}, STUDY_PLAN_ID_SEQ.currval)
    </insert>

    <select id="findAllParticipationList" parameterType="int" resultType="map">
        SELECT PL.ID ID, PL.MEMBER_TYPE MEMBERTYPE, M.NAME NAME
        FROM PARTICIPATION_LIST PL
            JOIN MEMBER M ON M.ID = PL.MEMBER_ID
        WHERE STUDY_PLAN_ID = #{studyPlanId}
    </select>

    <insert id="participateStudy" parameterType="int">
        INSERT INTO PARTICIPATION_LIST (ID, MEMBER_TYPE, MEMBER_ID, STUDY_PLAN_ID)
        VALUES (PARTICIPATION_LIST_ID_SEQ.nextval, '참여자', #{memberId}, #{studyPlanId})
    </insert>

    <delete id="deleteParticipationList" parameterType="int">
        DELETE PARTICIPATION_LIST
        WHERE ID = #{studyPlanId}
    </delete>
</mapper>