<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block
    th:replace="~{/common/layout/common_layout_V2 :: setContent(~{this :: head} ,~{this :: content}, ~{this :: scripts})}">

    <th:block th:fragment="head">
        <meta name="author" content="VJCommando">
        <meta name="description" content="LETS - 고객지원">
        <title>LETS - 고객지원</title>
    </th:block>

    <th:block th:fragment="content">
        <!-- main -->
        <main>
            <section class="hero_in general">
                <div class="wrapper">
                    <div class="container">
                        <h1 class="fadeInUp"><span></span>How we can help?</h1>
                        <form class="fadeInUp">
                            <div id="custom-search-input">
                                <div class="input-group">
                                    <input type="text" class=" search-query" placeholder="Ask a question...">
                                    <input type="submit" class="btn_search" value="Search">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
            <!--/hero_in-->
            <div class="container margin_60_35">
                <div class="main_title_2">
                    <span><em></em></span>
                    <h2>Select a topic</h2>
                    <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
                </div>

                <!--스터디 그룹 상자-->
                <div class="row">
                    <th:block th:each="category : ${categoryList}">
                        <div class="col-lg-4 col-md-6">
                            <a th:href="@{|/support/faq#${category.name}|}" class="box_topic" href="faq.html">
                                <span><i class="pe-7s-study"></i></span>
                                <h3 th:text="${category.description}">회원 관련</h3>
                                <hr>
                            </a>
                        </div>
                    </th:block>
                </div>
                <!--/row-->
            </div>
            <!-- /container -->
        </main>
        <!--/main-->
    </th:block>

    <th:block th:fragment="scripts">
    </th:block>

</th:block>

</html>