<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block
        th:replace="~{/common/layout/common_layout_V2 :: setContent(~{this :: head} ,~{this :: content}, ~{this :: scripts})}">

    <th:block th:fragment="head">
        <meta name="author" content="VJCommando">
        <meta name="description" content="LETS - Let's Easy Together Study">
        <title>LETS - Let Everyone to Study</title>
    </th:block>

    <th:block th:fragment="content">
        <main>
            <div style="margin: 0; padding: 0">
                <img style="width: 100vw; height: 100vh;" class="img-fluid" src="/images/main.jpg" alt="...">
            </div>
        </main>
    </th:block>

    <th:block th:fragment="scripts">
    </th:block>

</th:block>

</html>