<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block
    th:replace="~{/dashboard/layout/dashboard_layout :: setContent(~{this :: head} ,~{this :: content}, ~{this :: scripts})}">

    <th:block th:fragment="head">
        <meta name="author" content="VJCommando">
        <meta name="description" content="LETS - Host Dashboard">
        <title>LETS - Host Dashboard</title>

        <link href="/dashboard/vendor/dropzone.css" rel="stylesheet">
    </th:block>

    <th:block th:fragment="content">
        <!-- Content -->
        <div class="content-wrapper">
            <div class="container-fluid">
                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/dashboard/host/host_dashboard.html">대시보드</a>
                    </li>
                    <li class="breadcrumb-item active">Add Cafe</li>
                </ol>
                <div class="box_general padding_bottom">
                    <div class="header_box version_2">
                        <h2><i class="fa fa-file"></i>스터디 카페 등록</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>호스트 이메일</label>
                            <p th:text="${cafe.get('email')}"></p>
                        </div>
                        <div class="col-md-6">
                            <label>사업자번호</label>
                            <p th:text="${cafe.get('businessNumber')}"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>카페 대표사진</label>
                            <p th:text="${cafe.get('imagePath')}"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>스터디 카페 이름</label>
                            <p th:text="${cafe.get('name')}"></p>
                        </div>
                        <div class="col-md-6">
                            <label>카페 전화번호</label>
                            <p th:text="${cafe.get('phoneNumber')}"></p>
                        </div>
                        <div class="col-md-6">
                            <label>운영시작시간</label>
                            <p th:text="|${cafe.get('startTime')}시|"></p>
                        </div>
                        <div class="col-md-6">
                            <label>운영종료시간</label>
                            <p th:text="|${cafe.get('endTime')}시|"></p>
                        </div>
                        <div class="col-md-6">
                            <label>카페 주소</label>
                            <p th:text="|${cafe.get('siDoName')} ${cafe.get('siGunGuName')} ${cafe.get('roadAddress')} ${cafe.get('detailAddress')}|"></p>
                        </div>
                    </div>
                    <!-- /row-->
                    <div class="row">
                        <div class="col-md-12">
                            <label>카페 설명</label>
                            <p th:text="${cafe.get('description')}"></p>
                        </div>
                    </div>
                    <!-- /row-->
                    <div class="row">
                        <div class="col-md-12" >
                            <label>카페 옴션</label>
                            <ul class="list-unstyled">
                                <li th:each="cafeOption:${cafeOptions}" >
                                    <th:block><i th:class="|${cafeOption.imagePath} mr-2|"></i></th:block>
                                    <th:block th:text="${cafeOption.name}"></th:block>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /row-->
                </div>
                <!-- /box_general-->

            </div>
            <!-- /box_general-->
            <div class="float-right mr-3">
                <p><a href="cafe-register.html" class="btn_1 medium">등록</a></p>
                <!-- <p><a href="#0" class="btn_1 medium">수정</a></p> -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /Content -->
    </th:block>

    <th:block th:fragment="scripts">
        <!-- Custom scripts for this page -->
        <script src="/dashboard/vendor/dropzone.min.js"></script>
        <!--카카오 지도 검색 api-->
        <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
        <script th:inline="javascript">
            window.onload = function () {
                document.getElementById("address_kakao_btn").addEventListener("click", function () {
                    // 카카오 지도 발생
                    new daum.Postcode({
                        oncomplete: function (data) {
                            document.getElementById("address_kakao_all").value = data.address; // 전체 주소 넣기
                            document.getElementById("address_kakao_gun").value = data.sigungu; // 군,구 넣기
                            document.getElementById("address_kakao_do").value = data.sido; // 특별시,도 넣기
                            const address = document.getElementById('address_kakao_all').value;
                            const sido = document.getElementById('address_kakao_do').value;
                            const sigungu = document.getElementById('address_kakao_gun').value;

                            let newAddress = "";
                            newAddress = address.replace(sido, '');
                            newAddress = newAddress.replace(sigungu, '');
                            newAddress = newAddress.trim();
                            document.getElementById("address_kakao_detail").value = newAddress; // 도로명 주소 넣기
                            document.querySelector("input[name=address_detail]").focus(); // 상세입력 포커싱
                        }
                    }).open();
                });
            }
        </script>
        <!-- /custom scripts -->
    </th:block>

</th:block>

</html>