<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block
        th:replace="~{/dashboard/layout/dashboard_layout :: setContent(~{this :: head} ,~{this :: content}, ~{this :: scripts})}">

    <th:block th:fragment="head">
        <meta name="author" content="VJCommando">
        <meta name="description" content="LETS - Host Dashboard">
        <title>LETS - 호스트 대시보드 - 대시보드</title>
    </th:block>

    <th:block th:fragment="content">
        <!-- Content -->
        <div class="content-wrapper">
            <div class="container-fluid">
                <!-- Breadcrumbs -->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a th:href="@{/host}" href="/dashboard/host/host_dashboard.html">대시보드</a>
                    </li>
                    <li class="breadcrumb-item active">대시보드</li>
                </ol>
                <!-- Icon Cards -->
                <div class="row">
                    <div class="col-xl-6 col-sm-6 mb-3">
                        <div class="card dashboard text-white bg-success o-hidden h-100">
                            <div class="card-body">
                                <div class="card-body-icon">
                                    <i class="fa fa-fw fa-calendar-check-o"></i>
                                </div>
                                <div class="mr-5">
                                    <h5 th:text="|카페의 총 예약 수는 ${resCount}건 입니다.|">10 New Bookings!</h5>
                                </div>
                            </div>
                            <a th:href="@{/host/bookings}" class="card-footer text-white clearfix small z-1"
                               href="bookings.html">
                                <span class="float-left">상세 보기</span>
                                <span class="float-right">
                                    <i class="fa fa-angle-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-6 col-sm-6 mb-3">
                        <div class="card dashboard text-white bg-warning o-hidden h-100">
                            <div class="card-body">
                                <div class="card-body-icon">
                                    <i class="fa fa-fw fa-star"></i>
                                </div>
                                <div class="mr-5">
                                    <h5 th:text="|오늘 ${reviewCount}건의 리뷰가 등록되었습니다. |">11 New Reviews!</h5>
                                </div>
                            </div>
                            <a th:href="@{/host/reviews}" class="card-footer text-white clearfix small z-1"
                               href="reviews.html">
                                <span class="float-left">상세 보기</span>
                                <span class="float-right">
                                    <i class="fa fa-angle-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /cards -->
                <!-- 예약 현황 차트 -->
                <h2></h2>
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-bar-chart"></i> 월별 예약 건수
                    </div>
                    <div class="card-body">
                        <canvas id="myBarChart" width="100" height="50"></canvas>
                    </div>
                    <div class="card-footer small text-muted"></div>
                </div>
                <div class="box_general padding_bottom">
                    <div class="header_box version_2">
                        <i class="fa fa-bar-chart"></i> 월별 판매액
                    </div>
                    <canvas id="myAreaChart" width="100%" height="30" style="margin:45px 0 15px 0;"></canvas>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /.container-wrapper -->
        <!-- /Content -->
    </th:block>

    <th:block th:fragment="scripts">
        <!-- Custom scripts for this page -->
        <script th:inline="javascript">
            // 숫자를 천 단위로 포맷하는 함수
            let countRes = [[${countRes}]];
            let monthResKey = [];
            let monthResValue = [];
            for (const countElement of countRes) {
                monthResKey.push(countElement.month);
                monthResValue.push(countElement.reserveCount);
            }

            let monthlySales = [[${monthlySales}]];
            console.log(monthlySales);
            let monthlySalesKey = [];
            console.log(monthlySalesKey);
            let monthlySalesValue = [];
            console.log(monthlySalesValue);
            for (const countElement of monthlySales) {
                monthlySalesKey.push(countElement.month);
                monthlySalesValue.push(countElement.monthlyRevenue);
            }
            // Chart.js scripts
            // -- Set new default font family and font color to mimic Bootstrap's default styling
            Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
            Chart.defaults.global.defaultFontColor = '#292b2c';
            // -- 매출 현황 그래프
            var ctx = document.getElementById("myAreaChart");
            var myLineChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: monthlySalesKey,
                    datasets: [{
                        label: "Monthly sales",
                        lineTension: 0.3,
                        backgroundColor: "rgba(2,117,216,0.2)",
                        borderColor: "rgba(2,117,216,1)",
                        pointRadius: 5,
                        pointBackgroundColor: "rgba(2,117,216,1)",
                        pointBorderColor: "rgba(255,255,255,0.8)",
                        pointHoverRadius: 5,
                        pointHoverBackgroundColor: "rgba(2,117,216,1)",
                        pointHitRadius: 20,
                        pointBorderWidth: 2,
                        data: monthlySalesValue,
                    }],
                },
                options: {
                    scales: {
                        xAxes: [{
                            time: {
                                unit: 'month'
                            },
                            gridLines: {
                                display: false
                            },
                            ticks: {
                                maxTicksLimit: 12,
                                callback: function (value, index, values) {
                                    return value + '월';
                                },
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                min: 0,
                                max: Math.max(...monthlySalesValue) + (Math.max(...monthlySalesValue) * 0.1),
                                maxTicksLimit: 5,
                                callback: function (value, index, values) {
                                    return value.toLocaleString() + '원';
                                },
                            },
                            gridLines: {
                                color: "rgba(0, 0, 0, .125)",
                            }
                        }],
                    },
                    legend: {
                        display: false
                    },
                    tooltips: {
                        callbacks: {
                            label: function (tooltipItem, data) {
                                const value = tooltipItem.yLabel;
                                return value.toLocaleString() + '원';
                            },
                        },
                    },
                }
            });

            // 예약 현황 막대 그래프
            var ctx = document.getElementById("myBarChart");
            var myLineChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: monthResKey,
                    datasets: [{
                        label: "Reservation",
                        backgroundColor: "rgba(2,117,216,1)",
                        borderColor: "rgba(2,117,216,1)",
                        data: monthResValue,
                    }]
                    ,
                },
                options: {
                    scales: {
                        xAxes: [{
                            time: {
                                unit: 'month'
                            },
                            gridLines: {
                                display: false
                            },
                            ticks: {
                                maxTicksLimit: 12,
                                callback: function (value, index, values) {
                                    return value + '월';
                                },
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                min: 0,
                                max: Math.max(...monthResValue) + (Math.max(...monthResValue) * 0.1),
                                maxTicksLimit: 5,
                                callback: function (value, index, values) {
                                    return value.toLocaleString() + '건';
                                },
                            },
                            gridLines: {
                                display: true
                            }
                        }],
                    },
                    legend: {
                        display: false
                    },
                    tooltips: {
                        callbacks: {
                            label: function (tooltipItem, data) {
                                const value = tooltipItem.yLabel;
                                return value.toLocaleString() + '건';
                            },
                        },
                    },
                }
            });
        </script>
        <!-- /custom scripts -->
    </th:block>

</th:block>

</html>