<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block
    th:replace="~{/dashboard/layout/dashboard_layout :: setContent(~{this :: head} ,~{this :: content}, ~{this :: scripts})}">

    <th:block th:fragment="head">
        <meta name="author" content="VJCommando">
        <meta name="description" content="LETS - Host Dashboard">
        <title>LETS - Host Dashboard</title>

        <link href="/dashboard/vendor/animate.min.css" rel="stylesheet">
        <link href="/dashboard/vendor/magnific-popup.css" rel="stylesheet">
    </th:block>

    <th:block th:fragment="content">
        <!-- Content -->
        <div class="content-wrapper">
            <div class="container-fluid">
                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a th:href="@{/host}" href="/dashboard/host/host_dashboard.html">대시보드</a>
                    </li>
                    <li class="breadcrumb-item active">Room Table</li>
                </ol>
                <!-- Example DataTables Card-->
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-table"></i> Room Table
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>번호</th>
                                    <th>룸이름</th>
                                    <th>최대수용인원</th>
                                    <th>시간당 가격</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="room, num : ${rooms}">
                                    <th th:text="${num.count}">1</th>
                                    <th>
                                        <a th:text="${room.name}" th:href="@{/host/room/{id}(id=${room.id})}"
                                           href="/dashboard/host/room-register.html">A1</a>
                                    </th>
                                    <th th:text="${room.headCount}">10</th>
                                    <th th:text="${#numbers.formatInteger(room.price, 3, 'COMMA') + '원'}">50000</th>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="d-flex flex-row-reverse inline-popups">
                            <a href="#modal-regist" class="btn_1 medium mx-1 mt-3">룸 추가</a>
                        </div>
                    </div>
                </div>
                <!-- /tables-->
            </div>
            <!-- /container-fluid-->
        </div>
        <!-- /container-wrapper-->
        <!-- Edit to room popup -->
        <div id="modal-regist" class="white-popup mfp-with-anim mfp-hide">
            <form th:action="@{/host/room/regist}" th:object="${roomRegist}" th:method="post" enctype="multipart/form-data">
                <div class="small-dialog-header">
                    <h3>룸 수정</h3>
                </div>
                <!--                <div class="form-group">-->
                <!--                    <label>Your photo</label>-->
                <!--                    <input th:id="imagePath" th:name="imagePath" type="file" name="uploadfile" accept="image/*"><br>-->
                <!--                </div>-->
                <div class="form-group">
                    <label th:for="name">룸이름</label>
                    <input th:id="name" th:name="name"
                           type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label th:for="headCount">최대수용인원</label>
                    <input th:id="headCount" th:name="headCount"
                           type="number" class="form-control">
                </div>
                <div class="form-group">
                    <label th:for="price">시간당 가격</label>
                    <input th:id="price" th:name="price"
                           type="number" class="form-control">
                </div>
                <div class="form-group">
                    <label th:for="description">룸설명</label>
                    <input th:id="description" th:name="description"
                           type="text" class="form-control">
                </div>
                <button type="submit" class="btn_1 my-2">
                    <i class="fa fa-fw fa-pencil mr-1"></i>
                    룸 등록
                </button>
            </form>
        </div>




        <!-- /Content -->
    </th:block>

    <th:block th:fragment="scripts">
        <!-- Custom scripts for this page -->
        <script src="/dashboard/js/admin-datatables.js"></script>
        <!-- /custom scripts -->
    </th:block>

</th:block>

</html>