<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vj.lets.domain.member.mapper.MemberMapper">

    <insert id="create" parameterType="Member">
        INSERT INTO MEMBER(ID, EMAIL, NAME, PASSWORD, TYPE)
        VALUES (MEMBER_ID_SEQ.NEXTVAL, #{email}, #{name}, #{password}, #{type})
    </insert>

    <select id="readAll" resultType="Member">
        SELECT ID, EMAIL, NAME, PHONE_NUMBER, BIRTHDAY, GENDER, TYPE, TO_CHAR(regdate, 'yyyy-MM-DD') regdate, IMAGE_PATH
        FROM MEMBER
        ORDER BY regdate DESC
    </select>

    <select id="readByEmail" parameterType="string" resultType="Member">
        select ID, EMAIL, NAME, TYPE, IMAGE_PATH
        from MEMBER
        where EMAIL = #{email} AND STATUS = 'enabled'
    </select>

    <select id="readByEmailAndPasswd" resultType="Member">
        select ID, EMAIL, NAME, TYPE, IMAGE_PATH
        from MEMBER
        where EMAIL = #{email} AND PASSWORD = #{password} AND STATUS = 'enabled'
    </select>

    <select id="readById" parameterType="int" resultType="Member">
        SELECT ID, EMAIL, NAME, PHONE_NUMBER, BIRTHDAY, GENDER, TYPE, TO_CHAR(regdate, 'yyyy-MM-DD HH24:MI:SS') regdate, IMAGE_PATH
        FROM MEMBER
        WHERE id = #{id}
    </select>

    <select id="readCountByRegMonth" resultType="map">
        SELECT "month",
                COUNT(regdate) "memberCount"
        FROM ( SELECT TO_CHAR(TRUNC(ADD_MONTHS(SYSDATE, -ROWNUM + 1), 'MM'), 'YYYY-MM') "month"
               FROM DUAL
               CONNECT BY LEVEL &lt;= 12)
            LEFT JOIN MEMBER ON TO_CHAR(TRUNC(regdate, 'MM'), 'YYYY-MM') = "month"
                 AND MEMBER.TYPE = 'guest' AND MEMBER.STATUS = 'enabled'
        GROUP BY "month"
        ORDER BY "month"
    </select>

    <select id="readCountByGender" resultType="map">
        SELECT GENDER "gender", COUNT(*) "count"
        FROM MEMBER
        WHERE STATUS = 'enabled' AND MEMBER.TYPE = 'guest'
        GROUP BY GENDER
    </select>

    <select id="readCountByLastMonth" resultType="int">
        SELECT COUNT(ID)
        FROM MEMBER
        WHERE REGDATE between TO_DATE(ADD_MONTHS(SYSDATE, -1)) and SYSDATE
    </select>

    <update id="update" parameterType="Member">
        UPDATE MEMBER
        <set>
            <if test="name != null and name != ''">NAME = #{name},</if>
            <if test="password != null and password != ''">PASSWORD = #{password},</if>
            <if test="phoneNumber != null and phoneNumber != ''">PHONE_NUMBER = #{phoneNumber},</if>
            <if test="birthday != null and birthday != ''">BIRTHDAY = #{birthday},</if>
            <if test="gender != null and gender != ''">GENDER = #{gender},</if>
            <if test="imagePath != null and imagePath != ''">IMAGE_PATH = #{imagePath},</if>
        </set>
        WHERE ID = #{id}
    </update>

    <select id="readUpdateForm" parameterType="int" resultType="EditForm">
        SELECT NAME, PHONE_NUMBER, BIRTHDAY, GENDER, IMAGE_PATH
        FROM MEMBER
        WHERE id = #{id}
    </select>

    <update id="disabled" parameterType="int">
        UPDATE MEMBER
        SET status = 'disabled'
        WHERE ID = #{id}
    </update>

</mapper>