<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vj.lets.domain.member.mapper.MemberHistoryMapper">

    <insert id="create">
        INSERT INTO MEMBER_HISTORY(ID, MEMBER_ID)
        VALUES (MEMBER_HISTORY_ID_SEQ.NEXTVAL, MEMBER_ID_SEQ.CURRVAL)
    </insert>

    <insert id="update" parameterType="int">
        INSERT INTO MEMBER_HISTORY(ID, MODIFY_COMMENT, MEMBER_ID)
        VALUES(MEMBER_HISTORY_ID_SEQ.NEXTVAL, 'update', #{memberId})
    </insert>

    <insert id="delete" parameterType="int">
        INSERT INTO MEMBER_HISTORY(ID, MODIFY_COMMENT, MEMBER_ID)
        VALUES(MEMBER_HISTORY_ID_SEQ.NEXTVAL, 'delete', #{memberId})
    </insert>

</mapper>