<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="LETS - 회원가입">
    <meta name="author" content="김종원">
    <title>LETS - 회원가입</title>

    <!-- COMMON LINK -->
    <th:block th:replace="~{/common/layout/fragments/common_head :: head}"></th:block>
    <link href="/css/custom/sign_page_custom.css" rel="stylesheet">
</head>

<body id="register_bg">

<nav id="menu" class="fake_menu"></nav>

<div id="preloader">
    <div data-loader="circle-side"></div>
</div>
<!-- End Preload -->

<div id="login">
    <aside>
        <figure>
            <a th:href="@{/}" href="/index" title="lets">
                <img src="/images/title_textblack.svg" width="110" height="40" alt="" class="logo_sticky">
            </a>
        </figure>
        <div class="form-group">
            <label for="email">이메일</label>
            <input type="email" id="email" class="form-control" required>
            <i class="icon_mail_alt"></i>
            <div id="emailCheck" class="registerCheck"></div>
        </div>
        <div class="form-group">
            <label for="password">비밀번호</label>
            <input type="password" id="password" class="form-control" required>
            <i class="icon_lock_alt"></i>
            <div id="passwordCheck" class="registerCheck"></div>
        </div>
        <div class="form-group">
            <label for="passwordConfirm">비밀번호 확인</label>
            <input type="password" id="passwordConfirm" class="form-control" required>
            <i class="icon_lock_alt"></i>
            <div id="passwordConfirmCheck" class="registerCheck"></div>
        </div>
        <div class="form-group">
            <label for="name">이름</label>
            <input type="text" id="name" class="form-control" required>
            <i class="ti-user"></i>
            <div id="nameCheck" class="registerCheck"></div>
        </div>
        <input class="btn_1 rounded full-width add_top_30 regist_btn" value="회원 가입">
        <div class="text-center add_top_10">계정이 이미 있으신가요?
            <strong><a th:href="@{/member/login}" href="login.html">로그인</a></strong>
        </div>
        <div class="copy">© LETS</div>
    </aside>
</div>
<!-- /login -->

<!-- COMMON SCRIPTS -->
<script src="/js/common_scripts.js"></script>
<script src="/js/main.js"></script>
<script src="/js/custom/register.js"></script>

</body>

</html>