<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vj.lets.domain.cafe.mapper.CafeMapper">

    <insert id="create" parameterType="Cafe">
        INSERT INTO CAFE (ID, EMAIL, NAME, PHONE_NUMBER, DETAIL_ADDRESS, LATITUDE, LONGITUDE, ROOM_COUNT,
                          START_TIME, END_TIME, DESCRIPTION, IMAGE_PATH, BUSINESS_NUMBER,
                          SI_GUN_GU_ID, MEMBER_ID, ROAD_ADDRESS)
        VALUES (CAFE_ID_SEQ.NEXTVAL, #{email}, #{name}, #{phoneNumber}, #{detailAddress}, #{latitude}, #{longitude},
                #{roomCount}, #{startTime}, #{endTime}, #{description}, #{imagePath}, #{businessNumber},
                #{siGunGuId}, #{memberId}, #{roadAddress})
    </insert>

    <insert id="update" parameterType="Cafe">
    UPDATE CAFE
    SET
        <if test="cafeName != null">name = #{name},</if>
        <if test="cafeNum != null">phone_number = #{phoneNumber},</if>
        <if test="cafeAddress != null">detail_address = #{detailAddress},</if>
        <if test="cafeAddress != null">latitude = #{latitude},</if>
        <if test="cafeAddress != null">longitude = #{longitude},</if>
        <if test="roomNum != null">room_count = #{roomCount},</if>
        <if test="startTime != null">start_time = #{startTime},</if>
        <if test="endTime != null">end_time = #{endTime},</if>
        <if test="cafeDescription != null">description = #{description},</if>
        <if test="cafePhoto != null">image_path = #{imagePath},</if>
        <if test="businessNumber != null">business_number = #{businessNumber},</if>
        <if test="cafeAddress != null">si_gun_gu_id = #{siGunGuId},</if>
        <if test="cafeAddress != null">road_address = #{roadAddress},</if>
    </insert>

    <select id="findById" parameterType="int" resultType="Cafe">
        SELECT ID, EMAIL, NAME, PHONE_NUMBER, DETAIL_ADDRESS, LATITUDE, LONGITUDE, ROOM_COUNT,
               START_TIME, END_TIME, DESCRIPTION, IMAGE_PATH, TO_CHAR(regdate, 'yyyy-MM-DD') regdate, BUSINESS_NUMBER,
               SI_GUN_GU_ID, MEMBER_ID, ROAD_ADDRESS
        FROM CAFE
        Where id = #{id}
    </select>

    <select id="findByAll" resultType="Cafe">
        SELECT ID, EMAIL, NAME, PHONE_NUMBER, DETAIL_ADDRESS, LATITUDE, LONGITUDE, ROOM_COUNT,
               START_TIME, END_TIME, DESCRIPTION, IMAGE_PATH, TO_CHAR(regdate, 'yyyy-MM-DD') regdate, BUSINESS_NUMBER,
               SI_GUN_GU_ID, MEMBER_ID, ROAD_ADDRESS
        FROM CAFE
        ORDER BY regdate DESC
    </select>

    <select id="findByBest" resultType="Cafe">
        SELECT c.id,
               COUNT(rv.id)
        FROM CAFE c
                 JOIN RESERVATION RV ON c.id = rv.cafe_id
        GROUP BY c.id
        ORDER BY COUNT(rv.id) DESC
    </select>

    <select id="findBySearch" parameterType="CafeSearch" resultType="Cafe">
        SELECT ID, NAME, DETAIL_ADDRESS, LATITUDE, LONGITUDE, START_TIME, END_TIME, IMAGE_PATH,
                SI_GUN_GU_ID, ROAD_ADDRESS
        FROM CAFE
        WHERE
            <if test="searchName != null and searchName != ''">NAME = '%' || #{name} || '%'</if>
            <if test="searchCount != null and searchCount != ''">OR HEAD_COUNT LIKE '%' || #{countPerson} || '%'</if>
            <if test="searchOption != null and searchOption != ''">OR OPTION LIKE '#{option}'</if>
            <if test="minDuration != null and minDuration != ''">OR DURAION LIKE '#{price}'</if>
            <if test="maxDuration != null and maxDuration != ''">OR OPTION LIKE '#{price}'</if>
            <if test="maxRating != null and maxRating != ''">OR OPTION LIKE '#{price}'</if>
            <if test="minRating != null and minRating != ''">OR OPTION LIKE '#{price}'</if>
    </select>

    <update id="delete" parameterType="int">
        UPDATE CAFE
        SET STATUS = 'disabled'
        WHERE ID = #{id}
    </update>

</mapper>