<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="nav">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-default fixed-top" id="mainNav">
        <a th:href="@{/}" class="navbar-brand" href="/dashboard/admin/admin_dashboard.html">
            <img src="/images/title_textwhite.svg" alt=""
                 width="110"
                 height="40">
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                    <a th:href="@{/}" class="nav-link" href="admin_dashboard.html">
                        <i class="fa fa-fw fa-dashboard mr-1"></i>
                        <span class="nav-link-text">대시보드</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Bookmarks">
                    <a th:href="@{/admin/contact}" class="nav-link" href="contacts.html">
                        <i class="fa fa-fw fa-list mr-1"></i>
                        <span class="nav-link-text">입점 신청 목록</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Add listing">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseFAQ">
                        <i class="fa fa-fw fa-envelope mr-1"></i>
                        <span class="nav-link-text">FAQ 관리</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseFAQ">
                        <li>
                            <a th:href="@{/admin/faq/register}" href="faq-add.html"><i
                                class="fa fa-fw fa-plus-circle mr-1"></i>FAQ 작성</a>
                        </li>
                        <li>
                            <a th:href="@{/admin/faq}" href="faq-list.html"><i class="fa fa-fw fa-pencil mr-1"></i>FAQ
                                조회 및 수정, 삭제</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents">
                        <i class="fa fa-fw fa-gear mr-1"></i>
                        <span class="nav-link-text">현재 상태</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseComponents">
                        <li>
                            <a th:href="@{/admin/chart}" href="charts.html"><i class="fa fa-fw fa-star mr-1"></i>현황판</a>
                        </li>
                        <li>
                            <a th:href="@{/admin/host}" href="hosts.html"><i class="fa fa-fw fa-building mr-1"></i>호스트
                                리스트</a>
                        </li>
                        <li>
                            <a th:href="@{/admin/member}" href="members.html"><i class="fa fa-fw fa-user mr-1"></i>회원
                                리스트</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                    <a class="nav-link text-center" id="sidenavToggler">
                        <i class="fa fa-fw fa-angle-left"></i>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#logoutModal">
                        <i class="fa fa-fw fa-sign-out"></i>로그아웃</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- /Navigation-->
</th:block>
</html>
