<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="nav">

    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-default fixed-top" id="mainNav">
        <a th:href="@{/}" class="navbar-brand" href="/index.html"><img src="/images/title_textwhite.svg" alt=""
                                                                       width="110"
                                                                       height="40"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                    <a th:href="@{/}" class="nav-link" href="host_dashboard.html">
                        <i class="fa fa-fw fa-dashboard mr-1"></i>
                        <span class="nav-link-text">대시보드</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title=""
                    data-original-title="Bookings">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseRegisterCafe">
                        <i class="fa fa-fw fa-registered mr-1"></i>
                        <span class="nav-link-text">카페 정보</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseRegisterCafe">
                        <li>
                            <a th:href="@{/host/cafe}" href="cafe-register.html"><i class="fa fa-fw fa-book mr-1"></i>내 카페 정보</a>
                        </li>
                        <li>
                            <a th:href="@{/host/room}" href="room-register.html"><i class="fa-solid fa-house-circle-check mr-1"></i>룸 등록</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title=""
                    data-original-title="Bookings">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMyBooking">
                        <i class="fa fa-fw fa-calendar-check-o mr-1"></i>
                        <span class="nav-link-text">예약 및 리뷰</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseMyBooking">
                        <li>
                            <a th:href="@{/host/bookings}" href="bookings.html"><i class="fa fa-fw fa-list mr-1"></i>예약 목록</a>
                        </li>
                        <li>
                            <a th:href="@{/host/reviews}" href="reviews.html"><i class="fa fa-fw fa-star mr-1"></i>고객 리뷰</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Bookmarks">
                    <a th:href="@{/host/stats}" class="nav-link" href="tables.html">
                        <i class="fa fa-fw fa-gear mr-1"></i>
                        <span class="nav-link-text">전체 예약 데이터</span>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                    <a class="nav-link text-center" id="sidenavToggler">
                        <i class="fa fa-fw fa-angle-left"></i>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#logoutModal">
                        <i class="fa fa-fw fa-sign-out mr-1"></i>로그아웃</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- /Navigation-->

</th:block>
</html>
