<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vj.lets.domain.cafe.mapper.CafeOptionListMapper">

    <insert id="create" parameterType="CafeOptionList">
        INSERT INTO CAFE_OPTION_LIST (ID, CAFE_ID, OPTION_ID)
        VALUES (CAFE_OPTION_ID_SEQ.NEXTVAL, #{cafeId}, #{optionId})
    </insert>

    <select id="readAll" resultType="CafeOptionList">
        SELECT ID, CAFE_ID, OPTION_ID
        FROM CAFE_OPTION_LIST
        ORDER BY ID ASC
    </select>

    <select id="findByOptionListId" parameterType="int" resultType="CafeOptionList">
        SELECT ID, CAFE_ID, OPTION_ID
        FROM CAFE_OPTION_LIST
        WHERE ID = #{id}
    </select>

    <select id="findByOptionCafeId" parameterType="int" resultType="CafeOptionList">
        SELECT ID, CAFE_ID, OPTION_ID
        FROM CAFE_OPTION_LIST
        WHERE CAFE_ID = #{cafeId}
    </select>

    <delete id="delete" parameterType="int">
        DELETE FROM CAFE_OPTION_LIST
        WHERE CAFE_ID = #{cafeId}
    </delete>

</mapper>