<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vj.lets.domain.cafe.mapper.CafeHistoryMapper">

    <insert id="create">
        INSERT INTO CAFE_HISTORY (ID, CAFE_ID)
        VALUES (CAFE_HISTORY_ID_SEQ.NEXTVAL, CAFE_ID_SEQ.CURRVAL)
    </insert>

    <insert id="update">
        INSERT INTO CAFE_HISTORY (ID, MODIFY_COMMENT,CAFE_ID)
        VALUES (CAFE_HISTORY_ID_SEQ.NEXTVAL, #{comment}, #{cafeId})
    </insert>

    <insert id="delete" parameterType="int">
        INSERT INTO CAFE_HISTORY (ID, MODIFY_COMMENT,CAFE_ID)
        VALUES (CAFE_HISTORY_ID_SEQ.NEXTVAL, 'disabled',#{cafeId})
    </insert>

</mapper>