<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vj.lets.domain.cafe.mapper.CafeMapper">

    <insert id="create" parameterType="Cafe">
        INSERT INTO cafe (ID, EMAIL, NAME, PHONE_NUMBER, DETAIL_ADDRESS, LATITUDE, LONGITUDE, ROOM_COUNT,
                          START_TIME, END_TIME, DESCRIPTION, IMAGE_PATH, REGDATE, BUSINESS_NUMBER,
                          SI_GUN_GU_ID, MEMBER_ID, ROAD_ADDRESS)
        VALUES (CAFE_ID_SEQ.nextval, #{email}, #{name}, #{phoneNumber}, #{detailAddress}, #{latitude}, #{longitude},
                #{roomCount}, #{startTime}, #{endTime}, #{description}, #{imagePath}, sysdate, #{businessNumber},
                #{siGunGuId}, #{memberId}, #{roadAddress})
    </insert>

    <insert id="update" parameterType="Cafe">
    UPDATE cafe
    SET
        <if test="email != null">email = '#{email}'</if>
        <if test="cafeName != null">name = '#{name}'</if>
        <if test="cafeNum != null">phone_number = '#{phoneNumber}'</if>
        <if test="cafeAddress != null">detail_address = '#{detailAddress}'</if>
        <if test="cafeAddress != null">latitude = '#{latitude}'</if>
        <if test="cafeAddress != null">longitude = '#{longitude}'</if>
        <if test="roomNum != null">room_count = '#{roomCount}'</if>
        <if test="startTime != null">start_time = '#{startTime}'</if>
        <if test="endTime != null">end_time = '#{endTime}'</if>
        <if test="cafeDescription != null">description = '#{description}'</if>
        <if test="cafePhoto != null">image_path = '#{imagePath}'</if>
        <if test="businessNumber != null">business_number = '#{businessNumber}'</if>
        <if test="cafeAddress != null">si_gun_gu_id = '#{siGunGuId}'</if>
        <if test="cafeAddress != null">road_address = '#{roadAddress}'</if>
    </insert>

    <select id="findById" resultType="Cafe">
        SELECT ID, EMAIL, NAME, PHONE_NUMBER, DETAIL_ADDRESS, LATITUDE, LONGITUDE, ROOM_COUNT,
               START_TIME, END_TIME, DESCRIPTION, IMAGE_PATH, TO_CHAR(regdate, 'yyyy-MM-DD') regdate, BUSINESS_NUMBER,
               SI_GUN_GU_ID, MEMBER_ID, ROAD_ADDRESS
        FROM cafe
        Where id = #{id}
    </select>

    <select id="findByAll" resultType="Cafe">
        SELECT ID, EMAIL, NAME, PHONE_NUMBER, DETAIL_ADDRESS, LATITUDE, LONGITUDE, ROOM_COUNT,
               START_TIME, END_TIME, DESCRIPTION, IMAGE_PATH, TO_CHAR(regdate, 'yyyy-MM-DD') regdate, BUSINESS_NUMBER,
               SI_GUN_GU_ID, MEMBER_ID, ROAD_ADDRESS
        FROM cafe
        ORDER BY regdate DESC
    </select>

    <select id="findByBest" resultType="Cafe">

    </select>

    <select id="findBySearch" resultType="Cafe">
        SELECT ID, EMAIL, NAME, PHONE_NUMBER, DETAIL_ADDRESS, LATITUDE, LONGITUDE, ROOM_COUNT,
               START_TIME, END_TIME, DESCRIPTION, IMAGE_PATH, TO_CHAR(regdate, 'yyyy-MM-DD') regdate, BUSINESS_NUMBER,
               SI_GUN_GU_ID, MEMBER_ID, ROAD_ADDRESS
        FROM cafe
        WHERE
            <if test="keyword != null">name = '%' || #{keyword} || '%'</if>
            <if test="keyword != null">OR headCount LIKE '%' || #{keyword} || '%'</if>
            <if test="keyword != null">OR option LIKE '#{keyword}'</if>
    </select>

    <insert id="delete" parameterType="Cafe">

    </insert>

</mapper>