<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vj.lets.domain.cafe.mapper.CafeMapper">

    <insert id="create" parameterType="Cafe">
        INSERT INTO CAFE (ID, EMAIL, NAME, BUSINESS_NUMBER, MEMBER_ID)
        VALUES (CAFE_ID_SEQ.NEXTVAL, #{email}, #{name}, #{businessNumber}, MEMBER_ID_SEQ.CURRVAL)
    </insert>

    <update id="update" parameterType="Cafe">
    UPDATE CAFE
    <set>
        <if test="name != null and name != ''">NAME = #{name},</if>
        <if test="phoneNumber != null and phoneNumber != ''">PHONE_NUMBER= #{phoneNumber},</if>
        <if test="roadAddress != null and roadAddress != ''">ROAD_ADDRESS = #{roadAddress},</if>
        <if test="detailAddress != null and detailAddress != ''">DETAIL_ADDRESS = #{detailAddress},</if>
        <if test="roadAddress != null and roadAddress != ''">SI_GUN_GU_ID = #{siGunGuId},</if>
        <if test="roadAddress != null and roadAddress != ''">LATITUDE = #{latitude},</if>
        <if test="roadAddress != null and roadAddress != ''">LONGITUDE = #{longitude},</if>
        <if test="startTime != null and startTime != ''">START_TIME = #{startTime},</if>
        <if test="endTime != null and endTime != ''">END_TIME = #{endTime},</if>
        <if test="description != null and description != ''">DESCRIPTION = #{description},</if>
        <if test="imagePath != null and imagePath != ''">IMAGE_PATH = #{imagePath},</if>
        <if test="businessNumber != null and businessNumber != ''">BUSINESS_NUMBER = #{businessNumber},</if>
    </set>
    </update>

    <select id="findById" resultType="map">
        SELECT caf.ID "id",
               EMAIL "email",
               caf.NAME "name",
               PHONE_NUMBER "phoneNumber",
               do.NAME "siDoName",
               si.NAME "siGunGuName",
               ROAD_ADDRESS "roadAddress",
               DETAIL_ADDRESS "detailAddress",
               LATITUDE "latitude",
               LONGITUDE "longitude",
               START_TIME "startTime",
               END_TIME "endTime",
               DESCRIPTION "description",
               IMAGE_PATH "imagePath",
               "cafeRating",
               "reviewCount"
        FROM CAFE caf
                 LEFT JOIN (SELECT res.CAFE_ID, AVG(rev.RATING) "cafeRating"
                            FROM REVIEW rev
                                     JOIN RESERVATION res ON rev.RESERVATION_ID = res.ID
                            GROUP BY res.CAFE_ID) a ON a.CAFE_ID = caf.ID
                 LEFT JOIN SI_GUN_GU si ON si.ID = caf.SI_GUN_GU_ID
                 LEFT JOIN SI_DO do ON do.ID = si.SI_DO_ID
                 LEFT JOIN (SELECT res.CAFE_ID, COUNT(res.id) "reviewCount"
                            FROM RESERVATION res
                                     JOIN review rv ON res.id = rv.reservation_id
                            GROUP BY res.CAFE_ID) c ON c.CAFE_ID = caf.ID
        Where caf.ID = #{id}
          AND STATUS = 'enabled'
    </select>

    <select id="findByMemberId" parameterType="int" resultType="map">
        SELECT caf.ID "id",
               EMAIL "email",
               caf.NAME "name",
               PHONE_NUMBER "phoneNumber",
               do.NAME "siDoName",
               si.NAME "siGunGuName",
               ROAD_ADDRESS "roadAddress",
               DETAIL_ADDRESS "detailAddress",
               LATITUDE "latitude",
               LONGITUDE "longitude",
               START_TIME "startTime",
               END_TIME "endTime",
               DESCRIPTION "description",
               BUSINESS_NUMBER "businessNumber",
               IMAGE_PATH "imagePath",
               MEMBER_ID "memberId"
        FROM CAFE caf
                 LEFT JOIN SI_GUN_GU si ON si.ID = caf.SI_GUN_GU_ID
                 LEFT JOIN SI_DO do ON do.ID = si.SI_DO_ID
        Where MEMBER_ID = #{id}
          AND STATUS = 'enabled'
    </select>

    <select id="findByAll" resultType="map">
        SELECT
            caf.ID "id",
            caf.NAME "cafeName",
            do.NAME "siDoName",
            si.NAME "siGunGuName",
            ROAD_ADDRESS "roadAddress",
            DETAIL_ADDRESS "detailAddress",
            LATITUDE "latitude",
            LONGITUDE "longitude",
            START_TIME "startTime",
            END_TIME "endTime",
            IMAGE_PATH "imagePath",
            "cafeRating",
            "minPrice",
            "reviewCount",
            "resCount"
        FROM CAFE caf
                 LEFT JOIN (SELECT res.CAFE_ID, AVG(rev.RATING) "cafeRating"
                            FROM REVIEW rev
                                     JOIN RESERVATION res ON rev.RESERVATION_ID = res.ID
                            GROUP BY res.CAFE_ID) a ON a.CAFE_ID = caf.ID
                 LEFT JOIN (SELECT CAFE_ID, MIN(PRICE) "minPrice"
                            FROM ROOM roo
                                     JOIN CAFE ON CAFE_ID = CAFE.ID
                            GROUP BY CAFE_ID) b ON b.CAFE_ID = caf.ID
                 LEFT JOIN SI_GUN_GU si ON si.ID = caf.SI_GUN_GU_ID
                 LEFT JOIN SI_DO do ON do.ID = si.SI_DO_ID
                 LEFT JOIN (SELECT res.CAFE_ID, COUNT(res.id) "reviewCount"
                            FROM RESERVATION res
                                     JOIN review rv ON res.id = rv.reservation_id
                            GROUP BY res.CAFE_ID) c ON c.CAFE_ID = caf.ID
                 LEFT JOIN (SELECT res.CAFE_ID, COUNT(res.ID) "resCount"
                            FROM RESERVATION res
                            WHERE res.STATUS = 'use' OR res.STATUS = 'complete'
                            GROUP BY res.CAFE_ID) d ON d.CAFE_ID = caf.ID
        WHERE STATUS = 'enabled'
        ORDER BY REGDATE DESC
    </select>

    <select id="findByBest" resultType="map">
        SELECT "id",
               "cafeName",
               "siDoName",
               "siGunGuName",
               "roadAddress",
               "detailAddress",
               "latitude",
               "longitude",
               "startTime",
               "endTime",
               "imagePath",
               "cafeRating",
               "minPrice",
               "reviewCount",
               "resCount"
        FROM (SELECT caf.ID         "id",
                     caf.NAME       "cafeName",
                     do.NAME        "siDoName",
                     si.NAME        "siGunGuName",
                     ROAD_ADDRESS   "roadAddress",
                     DETAIL_ADDRESS "detailAddress",
                     LATITUDE       "latitude",
                     LONGITUDE      "longitude",
                     START_TIME     "startTime",
                     END_TIME       "endTime",
                     IMAGE_PATH     "imagePath",
                     "cafeRating",
                     "minPrice",
                     "reviewCount",
                     "resCount"
              FROM CAFE caf
                       LEFT JOIN (SELECT res.CAFE_ID, AVG(rev.RATING) "cafeRating"
                                  FROM REVIEW rev
                                           JOIN RESERVATION res ON rev.RESERVATION_ID = res.ID
                                  GROUP BY res.CAFE_ID) a ON a.CAFE_ID = caf.ID
                       LEFT JOIN (SELECT CAFE_ID, MIN(PRICE) "minPrice"
                                  FROM ROOM roo
                                           JOIN CAFE ON CAFE_ID = CAFE.ID
                                  GROUP BY CAFE_ID) b ON b.CAFE_ID = caf.ID
                       LEFT JOIN SI_GUN_GU si ON si.ID = caf.SI_GUN_GU_ID
                       LEFT JOIN SI_DO do ON do.ID = si.SI_DO_ID
                       LEFT JOIN (SELECT res.CAFE_ID, COUNT(res.id) "reviewCount"
                                  FROM RESERVATION res
                                           JOIN review rv ON res.id = rv.reservation_id
                                  GROUP BY res.CAFE_ID) c ON c.CAFE_ID = caf.ID
                       LEFT JOIN (SELECT res.CAFE_ID, COUNT(res.ID) "resCount"
                                  FROM RESERVATION res
                                  WHERE res.STATUS = 'use'
                                     OR res.STATUS = 'complete'
                                  GROUP BY res.CAFE_ID) d ON d.CAFE_ID = caf.ID
              WHERE STATUS = 'enabled'
              ORDER BY "resCount" ASC, "cafeRating" ASC, REGDATE DESC)
        WHERE ROWNUM &lt;= 6
    </select>

    <select id="findBySearch" parameterType="CafeSearch" resultType="map">
        SELECT caf.ID "id",
        caf.NAME "cafeName",
        do.NAME "siDoName",
        si.NAME "siGunGuName",
        ROAD_ADDRESS "roadAddress",
        DETAIL_ADDRESS "detailAddress",
        LATITUDE "latitude",
        LONGITUDE "longitude",
        START_TIME "startTime",
        END_TIME "endTime",
        IMAGE_PATH "imagePath",
        "cafeRating",
        "minPrice"
        FROM CAFE caf
            LEFT JOIN (SELECT res.CAFE_ID, AVG(rev.RATING) "cafeRating"
                       FROM REVIEW rev
                           JOIN RESERVATION res ON rev.RESERVATION_ID = res.ID
                       GROUP BY res.CAFE_ID) a ON a.CAFE_ID = caf.ID
            LEFT JOIN (SELECT CAFE_ID, MIN(PRICE) "minPrice"
                       FROM ROOM roo
                           JOIN CAFE ON CAFE_ID = CAFE.ID
                       GROUP BY CAFE_ID) b ON b.CAFE_ID = caf.ID
            LEFT JOIN SI_GUN_GU si ON si.ID = caf.SI_GUN_GU_ID
            LEFT JOIN SI_DO do ON do.ID = si.SI_DO_ID
        <where>
            STATUS = 'enabled'
            <if test="name != null and name != ''">AND NAME LIKE '%' || #{name} || '%'</if>
            <if test="minDuration != null and minDuration != '' and maxDuration != null and maxDuration != ''">
                AND DISTNACE_WGS84(LATITUDE, LONGITUDE, #{currentY}, #{currentX}) BETWEEN #{minDuration} AND
                #{maxDuration}
            </if>
        </where>
        <if test="minDuration != null and minDuration != '' and maxDuration != null and maxDuration != ''">
            ORDER BY DISTNACE_WGS84(LATITUDE, LONGITUDE, #{currentY}, #{currentX}) ASC
        </if>
    </select>

    <select id="readCountAllForAdmin" resultType="int">
        SELECT COUNT(ID) "count"
        FROM CAFE
        WHERE STATUS = 'enabled'
    </select>

    <select id="readAllForAdmin" parameterType="PageParams" resultType="map">
        SELECT "id",
               "email",
               "cafeName",
               "phoneNumber",
               "siDoName",
               "siGunGuName",
               "roadAddress",
               "detailAddress",
               "description",
               "imagePath",
               "regdate",
               "businessNumber",
               "memberName"
        FROM (SELECT CEIL(ROWNUM / #{elementSize}) "request_page",
                     "id",
                     "email",
                     "cafeName",
                     "phoneNumber",
                     "siDoName",
                     "siGunGuName",
                     "roadAddress",
                     "detailAddress",
                     "description",
                     "imagePath",
                     "regdate",
                     "businessNumber",
                     "memberName"
              FROM (SELECT c.ID                             "id",
                           c.EMAIL                          "email",
                           c.NAME                           "cafeName",
                           c.PHONE_NUMBER                   "phoneNumber",
                           sd.NAME                          "siDoName",
                           sgg.NAME                         "siGunGuName",
                           ROAD_ADDRESS                     "roadAddress",
                           DETAIL_ADDRESS                   "detailAddress",
                           DESCRIPTION                      "description",
                           c.IMAGE_PATH                     "imagePath",
                           TO_CHAR(c.REGDATE, 'yyyy-MM-DD') "regdate",
                           BUSINESS_NUMBER                  "businessNumber",
                           m.NAME                           "memberName"
                    FROM CAFE c
                             JOIN MEMBER m ON c.MEMBER_ID = m.ID
                             JOIN SI_GUN_GU sgg ON c.SI_GUN_GU_ID = sgg.ID
                             JOIN SI_DO sd ON sgg.SI_DO_ID = sd.ID
                    WHERE c.STATUS = 'enabled'
                    <if test="type == null or type == 'latest'">ORDER BY c.regdate DESC</if>
                    <if test="type == 'oldest'">ORDER BY c.regdate ASC</if>))
        WHERE "request_page" = #{requestPage}
    </select>

    <select id="readCountByRegMonth" resultType="map">
        SELECT "month",
               COUNT(regdate) "cafeCount"
        FROM ( SELECT TO_CHAR(TRUNC(ADD_MONTHS(SYSDATE, -ROWNUM + 1), 'MM'), 'YYYY-MM') "month"
               FROM DUAL
                   CONNECT BY LEVEL &lt;= 12 )
             LEFT JOIN CAFE ON TO_CHAR(TRUNC(regdate, 'MM'), 'YYYY-MM') = "month"
                  AND CAFE.STATUS = 'enabled'
        GROUP BY "month"
        ORDER BY "month"
    </select>

    <update id="delete" parameterType="int">
        UPDATE CAFE
        SET STATUS = 'disabled'
        WHERE ID = #{id}
    </update>

</mapper>