<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block
    th:replace="~{/dashboard/layout/dashboard_layout :: setContent(~{this :: head} ,~{this :: content}, ~{this :: scripts})}">

    <th:block th:fragment="head">
        <meta name="author" content="VJCommando">
        <meta name="description" content="LETS - Admin Dashboard">
        <title>LETS - Admin Dashboard</title>

        <link href="/dashboard/vendor/animate.min.css" rel="stylesheet">
        <link href="/dashboard/vendor/magnific-popup.css" rel="stylesheet">
    </th:block>

    <th:block th:fragment="content">
        <!-- Content -->
        <div class="content-wrapper">
            <div class="container-fluid">
                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="admin_dashboard.html">대시보드</a>
                    </li>
                    <li class="breadcrumb-item active">입점 신청목록</li>
                </ol>
                <div class="box_general">
                    <div class="header_box">
                        <h2 class="d-inline-block">입점 신청목록</h2>
                    </div>
                    <div class="list_general">
                        <ul>
                            <li th:each="contact : ${contactList}">
                                <h4>
                                    <th:block th:text="${contact.cafeName}">Hotel Mariott</th:block>
                                    <th:block th:switch="${contact.status}">
                                        <i th:case="hold" class="pending">보류</i>
                                        <i th:case="approve" class="approved">승인</i>
                                        <i th:case="refuse" class="cancel">거부</i>
                                    </th:block>
                                </h4>
                                <ul class="booking_list">
                                    <li><strong>사업자명</strong>
                                        <th:block th:text="${contact.name}">홍길동</th:block>
                                    </li>
                                    <li><strong>이메일</strong>
                                        <th:block th:text="${contact.email}">hong@gmail.com</th:block>
                                    </li>
                                    <li><strong>전화번호</strong>
                                        <th:block th:text="${contact.phoneNumber}">010-0000-0000</th:block>
                                    </li>
                                    <li><strong>주소</strong>
                                        <th:block th:text="${contact.address}">서울시 노원구</th:block>
                                    </li>
                                    <li><strong>사업자 등록번호</strong>
                                        <th:block th:text="${contact.businessNumber}">000-00-000000</th:block>
                                    </li>
                                    <li><strong>입점 신청 날짜</strong>
                                        <th:block th:text="${contact.contactDate}">2023-01-01</th:block>
                                    </li>
                                    <li><strong>업체설명</strong></li>
                                    <li>
                                        <p th:text="${contact.message}">======================= 업체 설명
                                            =======================</p>
                                    </li>
                                </ul>
                                <th:block th:if="${contact.status} == 'hold'">
                                    <ul class="buttons inline-popups">
                                        <li>
                                            <a th:href="|#modal-approve_${contact.id}|" href="#"
                                               class="btn_1 gray approve">
                                                <i class="fa fa-fw fa-check-circle-o mr-1"></i>
                                                승인
                                            </a>
                                        </li>
                                        <li>
                                            <a th:href="|#modal-refuse_${contact.id}|" href="#"
                                               class="btn_1 gray delete">
                                                <i class="fa fa-fw fa-times-circle-o mr-1"></i>
                                                거부
                                            </a>
                                        </li>
                                    </ul>
                                    <!-- contact to approve popup -->
                                    <div th:id="|modal-approve_${contact.id}|" id="modal-approve"
                                         class="white-popup mfp-with-anim mfp-hide">
                                        <form th:action="@{/admin/contact}" th:method="post">
                                            <div class="small-dialog-header">
                                                <h3>입점 승인</h3>
                                            </div>
                                            <div class="form-group">
                                                <label th:for="cafeName">카페명</label>
                                                <input th:id="cafeName" th:name="cafeName" th:value="${contact.cafeName}" type="text"
                                                       class="form-control" readonly>
                                            </div>
                                            <div class="form-group">
                                                <label th:for="name">사업자명</label>
                                                <input th:id="name" th:name="name" th:value="${contact.name}" type="text"
                                                       class="form-control" readonly>
                                            </div>
                                            <div class="form-group">
                                                <label th:for="name">이메일</label>
                                                <input th:id="email" th:name="email" th:value="${contact.email}" type="text"
                                                       class="form-control" readonly>
                                            </div>
                                            <div class="form-group">
                                                <label th:for="name">사업자 등록번호</label>
                                                <input th:id="businessNumber" th:name="businessNumber" th:value="${contact.businessNumber}" type="text"
                                                       class="form-control" readonly>
                                            </div>
                                            <div class="row justify-content-center message-reply margin-top-0">
                                                <div class="col-8 align-self-center">
                                                    <p class="m-0">정말로 해당 입점 신청을 승인하시겠습니까</p>
                                                </div>
                                                <div class="col-auto align-self-center">
                                                    <button th:name="contactRequest" th:value="approve" type="submit" class="btn_1 gray approve">
                                                        <i class="fa fa-fw fa-check-circle-o mr-1"></i>
                                                        입점 승인
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                    <!-- contact to refuse popup -->
                                    <div th:id="|modal-refuse_${contact.id}|" id="modal-refuse"
                                         class="white-popup mfp-with-anim mfp-hide">
                                        <form th:action="@{/admin/contact}" th:method="post">
                                            <div class="small-dialog-header">
                                                <h3>입점 거부</h3>
                                            </div>
                                            <div class="form-group">
                                                <label th:for="name">사업자명</label>
                                                <input th:id="name" th:name="name" th:value="${contact.name}" type="text"
                                                       class="form-control" readonly>
                                            </div>
                                            <div class="form-group">
                                                <label th:for="name">이메일</label>
                                                <input th:id="email" th:name="email" th:value="${contact.email}" type="text"
                                                       class="form-control" readonly>
                                            </div>
                                            <div class="form-group">
                                                <label th:for="name">사업자 등록번호</label>
                                                <input th:id="businessNumber" th:name="businessNumber" th:value="${contact.businessNumber}" type="text"
                                                       class="form-control" readonly>
                                            </div>
                                            <div class="row justify-content-center message-reply margin-top-0">
                                                <div class="col-8 align-self-center">
                                                    <p class="m-0">정말로 해당 입점 신청을 거부하시겠습니까</p>
                                                </div>
                                                <div class="col-auto align-self-center">
                                                    <button th:name="contactRequest" th:value="refuse" type="submit" class="btn_1 gray delete">
                                                        <i class="fa fa-fw fa-times-circle-o mr-1"></i>
                                                        입점 거부
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </th:block>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /box_general-->
                <nav aria-label="...">
                    <ul class="pagination pagination-sm add_bottom_30">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
                <!-- /pagination-->
            </div>
            <!-- /container-fluid-->
        </div>
        <!-- /container-wrapper-->
        <!-- /Content -->
    </th:block>

    <th:block th:fragment="scripts">
    </th:block>

</th:block>

</html>