<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block
        th:replace="~{/dashboard/layout/dashboard_layout :: setContent(~{this :: head} ,~{this :: content}, ~{this :: scripts})}">

    <th:block th:fragment="head">
        <meta name="author" content="VJCommando">
        <meta name="description" content="LETS - Admin Dashboard">
        <title>LETS - 관리자 대시보드 - 입점 신청 목록</title>

        <link href="/dashboard/vendor/animate.min.css" rel="stylesheet">
        <link href="/dashboard/vendor/magnific-popup.css" rel="stylesheet">
    </th:block>

    <th:block th:fragment="content">
        <!-- Content -->
        <div class="content-wrapper">
            <div class="container-fluid">
                <!-- Breadcrumbs -->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="admin_dashboard.html">대시보드</a>
                    </li>
                    <li class="breadcrumb-item active">입점 신청 목록</li>
                </ol>
                <div class="box_general">
                    <div class="header_box">
                        <h2 class="d-inline-block">입점 신청 목록</h2>
                        <div class="filter">
                            <div class="styled-select short">
                                <select name="type" id="orderType">
                                    <option th:selected="${pagination.params.type == 'hold'}" value="hold">보류</option>
                                    <option th:selected="${pagination.params.type == 'approve'}" value="approve">승인
                                    </option>
                                    <option th:selected="${pagination.params.type == 'refuse'}" value="refuse">거부
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="list_general">
                        <ul>
                            <li th:each="contact, index : ${contactList}" class="contacts">
                                <h4>
                                    <th:block th:text="${contact.cafeName}">Hotel Mariott</th:block>
                                    <th:block th:switch="${contact.status}">
                                        <i th:case="hold" class="pending">보류</i>
                                        <i th:case="approve" class="approved">승인</i>
                                        <i th:case="refuse" class="cancel">거부</i>
                                    </th:block>
                                </h4>
                                <ul class="booking_list">
                                    <li><strong>사업자명</strong>
                                        <th:block th:text="${contact.name}">홍길동</th:block>
                                    </li>
                                    <li><strong>이메일</strong>
                                        <th:block th:text="${contact.email}">hong@gmail.com</th:block>
                                    </li>
                                    <li><strong>전화번호</strong>
                                        <th:block th:text="${contact.phoneNumber}">010-0000-0000</th:block>
                                    </li>
                                    <li><strong>주소</strong>
                                        <th:block th:text="${contact.address}">서울시 노원구</th:block>
                                    </li>
                                    <li><strong>사업자 등록번호</strong>
                                        <th:block th:text="${contact.businessNumber}">000-00-000000</th:block>
                                    </li>
                                    <li><strong>입점 신청 날짜</strong>
                                        <th:block th:text="${contact.contactDate}">2023-01-01</th:block>
                                    </li>
                                    <li><strong>업체설명</strong></li>
                                    <li>
                                        <p th:text="${contact.message}">======================= 업체 설명
                                            =======================</p>
                                    </li>
                                </ul>
                                <th:block th:if="${contact.status} == 'hold'">
                                    <ul class="buttons inline-popups">
                                        <li>
                                            <a th:href="|#modal_approve_${index.count}|" href="#"
                                               class="btn_1 gray approve">
                                                <i class="fa fa-fw fa-check-circle-o mr-1"></i>
                                                승인
                                            </a>
                                        </li>
                                        <li>
                                            <a th:href="|#modal_refuse_${index.count}|" href="#"
                                               class="btn_1 gray delete">
                                                <i class="fa fa-fw fa-times-circle-o mr-1"></i>
                                                거부
                                            </a>
                                        </li>
                                    </ul>
                                    <!-- contact to approve popup -->
                                    <div th:id="|modal_approve_${index.count}|" id="modal_approve"
                                         class="white-popup mfp-with-anim mfp-hide modal_approve">
                                        <div class="small-dialog-header">
                                            <h3>입점 승인</h3>
                                        </div>
                                        <div>
                                            <ul class="booking_list">
                                                <li><strong>카페명</strong>
                                                    <th:block th:text="${contact.cafeName}">카페명</th:block>
                                                </li>
                                                <li><strong>사업자명</strong>
                                                    <th:block th:text="${contact.name}">홍길동</th:block>
                                                </li>
                                                <li><strong>이메일</strong>
                                                    <th:block th:text="${contact.email}">hong@gmail.com</th:block>
                                                </li>
                                                <li><strong>전화번호</strong>
                                                    <th:block th:text="${contact.phoneNumber}">010-0000-0000</th:block>
                                                </li>
                                                <li><strong>주소</strong>
                                                    <th:block th:text="${contact.address}">서울시 노원구</th:block>
                                                </li>
                                                <li><strong>사업자 등록번호</strong>
                                                    <th:block th:text="${contact.businessNumber}">000-00-000000
                                                    </th:block>
                                                </li>
                                                <li><strong>입점 신청 날짜</strong>
                                                    <th:block th:text="${contact.contactDate}">2023-01-01</th:block>
                                                </li>
                                                <li><strong>업체설명</strong></li>
                                                <li>
                                                    <p th:text="${contact.message}">======================= 업체 설명
                                                        =======================</p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="row justify-content-center message-reply margin-top-0">
                                            <div class="col-8 align-self-center">
                                                <p class="m-0">정말로 해당 입점 신청을 승인하시겠습니까</p>
                                            </div>
                                            <div class="col-auto align-self-center">
                                                <button class="btn_1 gray approve approve_btn">
                                                    <i class="fa fa-fw fa-check-circle-o mr-1"></i>
                                                    입점 승인
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- contact to refuse popup -->
                                    <div th:id="|modal_refuse_${index.count}|" id="modal_refuse"
                                         class="white-popup mfp-with-anim mfp-hide modal_refuse">
                                        <div class="small-dialog-header">
                                            <h3>입점 거부</h3>
                                        </div>
                                        <div class="row justify-content-center message-reply margin-top-0">
                                            <div class="col-8 align-self-center">
                                                <p class="m-0">정말로 해당 입점 신청을 거부하시겠습니까</p>
                                            </div>
                                            <div class="col-auto align-self-center">
                                                <button class="btn_1 gray delete refuse_btn">
                                                    <i class="fa fa-fw fa-times-circle-o mr-1"></i>
                                                    입점 거부
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </th:block>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /box_general -->
                <nav aria-label="...">
                    <ul class="pagination pagination-sm add_bottom_30">
                        <li class="page-item">
                            <a th:if="${pagination.showPrevious}"
                               th:href="@{|?page=${pagination.previousStartPage}&type=${pagination.params.type}|}"
                               class="page-link" href="#"
                               tabindex="-1"><i class="fa-solid fa-angles-left" style="color: #000000;"></i></a>
                        </li>
                        <th:block
                                th:each="i : ${#numbers.sequence(pagination.getStartPage(), pagination.getEndPage())}">
                            <li th:if="${i == pagination.params.requestPage}" class="page-item active">
                                <a th:text="${i}" class="page-link">1</a>
                            </li>
                            <li th:if="${i != pagination.params.requestPage && i > 0}" class="page-item">
                                <a th:href="@{|?page=${i}&type=${pagination.params.type}|}"
                                   th:text="${i}" class="page-link" href="#">2
                                </a>
                            </li>
                        </th:block>
                        <li class="page-item">
                            <a th:if="${pagination.showNext}"
                               th:href="@{|?page=${pagination.nextStartPage}&type=${pagination.params.type}|}"
                               class="page-link" href="#"><i class="fa-solid fa-angles-right"
                                                             style="color: #000000;"></i></a>
                        </li>
                    </ul>
                </nav>
                <!-- /pagination -->
            </div>
            <!-- /container-fluid -->
        </div>
        <!-- /container-wrapper -->
        <!-- /Content -->
    </th:block>

    <th:block th:fragment="scripts">
        <script th:inline="javascript">
            const contactList = [[${contactList}]];
            document.querySelector('#orderType').addEventListener('change', (event) => {
                location.href = `?type=${event.target.value}`;
            })
        </script>
        <script src="/dashboard/js/custom/admin-contacts_custom.js"></script>
    </th:block>

</th:block>

</html>