<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block
    th:replace="~{/dashboard/layout/dashboard_layout :: setContent(~{this :: head} ,~{this :: content}, ~{this :: scripts})}">

    <th:block th:fragment="head">
        <meta name="author" content="VJCommando">
        <meta name="description" content="LETS - Admin Dashboard">
        <title>LETS - Admin Dashboard</title>
    </th:block>

    <th:block th:fragment="content">
        <!-- Content -->
        <div class="content-wrapper">
            <form th:action="@{/admin/faq/register}" th:method="post" th:object="${faqForm}">
                <div class="container-fluid">
                    <!-- Breadcrumbs-->
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="admin_dashboard.html">대시보드</a>
                        </li>
                        <li class="breadcrumb-item active">FAQ 작성</li>
                    </ol>
                    <div class="box_general padding_bottom">
                        <div class="header_box version_2">
                            <h2><i class="fa fa-file"></i>FAQ 작성</h2>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="title">제목</label>
                                    <input th:field="*{title}" type="text" class="form-control" id="title"
                                           placeholder="제목" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="category">분류</label>
                                    <div class="styled-select">
                                        <select th:name="category" id="category" required>
                                            <option th:each="category : ${categoryList}" th:value="${category.id}"
                                                    th:text="${category.name}">회원
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /row-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="content">내용</label>
                                    <textarea th:field="*{content}" cols="40" rows="20" class="form-control"
                                              id="content" required></textarea>
                                </div>
                            </div>
                        </div>
                        <!-- /row-->
                    </div>
                    <!-- /box_general-->

                    <p>
                        <button class="btn_1 medium">Save</button>
                    </p>
                </div>
            </form>
            <!-- /.container-fluid -->
        </div>
        <!-- /.container-wrapper -->
        <!-- /Content -->
    </th:block>

    <th:block th:fragment="scripts">
    </th:block>

</th:block>

</html>