<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="header">

    <!-- header -->
    <header class="header menu_fixed">
        <div id="preloader">
            <div data-loader="circle-side"></div>
        </div><!-- /Page Preload -->
        <div id="logo">
            <a th:href="@{/}" href="/index.html">
                <img src="/images/title_textwhite.svg" width="110" height="40" alt="" class="logo_normal">
                <img src="/images/title_textblack.svg" width="110" height="40" alt="" class="logo_sticky">
            </a>
        </div>
        <!-- /top_menu -->
        <ul id="top_menu">
            <th:block th:if="${session.loginMember} == null">
                <li>
                    <a href="#sign-in-dialog" id="sign-in" class="text-danger" title="LogIn">
                        <i class="fa-solid fa-arrow-right-to-bracket fa-2xl me-1"></i>
                        로그인
                    </a>
                </li>
            </th:block>
            <th:block th:if="${session.loginMember} != null">
                <li>
                    <a class="dropdown border-0 text-danger" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-regular fa-circle-user fa-2xl me-1"></i>
                        내 정보
                    </a>
                    <ul class="dropdown-menu mt-3 bg-gradient">
                        <li>
                            <a class="text-dark dropdown-item pl-4 py-3" th:href="@{/mypage}" href="#">
                                마이페이지
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a href="#sign-in-dialog" id="sign-in" class="text-dark dropdown-item pl-4 py-3" title="Logout">
                                로그아웃
                            </a>
                        </li>
                    </ul>
                </li>
            </th:block>
        </ul>
        <a href="#menu" class="btn_mobile">
            <div class="hamburger hamburger--spin" id="hamburger">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </div>
        </a>
        <nav id="menu" class="main-menu">
            <ul>
                <li><span><a th:href="@{/}" href="#">홈</a></span></li>
                <li><span><a th:href="@{/cafe}" href="/cafe-list.html">스터디 카페</a></span></li>
                <li><span><a href="#0">스터디 그룹</a></span>
                    <ul>
                        <li><a th:href="@{/group/mygroup}" href="#">나의 스터디</a></li>
                        <li><a th:href="@{/group}" href="#">다른 스터디</a></li>
                    </ul>
                </li>
                <li><span><a th:href="@{/support/contact}" href="/contact">입점문의</a></span></li>
                <li><span><a th:href="@{/support/help}" href="/help.html">고객지원</a></span></li>
            </ul>
        </nav>
    </header>
    <!-- /header -->

</th:block>
</html>
