<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="login-popup">
    <!-- Log In Popup -->
    <div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide">
        <div class="small-dialog-header">
            <h3>로그인</h3>
        </div>
        <div class="sign-in-wrapper">
<!--            <a href="#0" class="social_bt facebook">Login with Facebook</a>-->
            <a th:href="@{/google/login}" href="#0" class="social_bt google">Login with Google</a>
            <div class="divider"><span>Or</span></div>
            <div class="form-group">
                <label for="email">이메일</label>
                <input th:value="${loginForm.email}" type="email" class="form-control" name="email" id="email">
                <i class="icon_mail_alt"></i>
                <div id="emailCheck" class="registerCheck"></div>
            </div>
            <div class="form-group">
                <label for="password">비밀번호</label>
                <input type="password" class="form-control" name="password" id="password" value="">
                <i class="icon_lock_alt"></i>
                <div id="passwordCheck" class="registerCheck"></div>
            </div>
            <div class="clearfix add_bottom_15">
                <div class="checkboxes float-start">
                    <label class="container_check">아이디 기억
                        <input th:checked="${loginForm.remember}" type="checkbox" id="remember" name="remember">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
            <div class="text-center"><input type="submit" value="로그인" class="btn_1 full-width login_btn"></div>
            <div class="text-center">
                아직 계정이 없으신가요? <a th:href="@{/member/register}" href="register.html">회원 가입</a>
            </div>
        </div>
    </div>
    <!-- /Log In Popup -->
</th:block>
</html>