<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="header">

    <!-- header -->
    <header class="header menu_fixed">
        <div id="preloader">
            <div data-loader="circle-side"></div>
        </div><!-- /Page Preload -->
        <div id="logo">
            <a th:href="@{/}" href="/index.html">
                <img src="/images/title_textwhite.svg" width="110" height="40" alt="" class="logo_normal">
                <img src="/images/title_textblack.svg" width="110" height="40" alt="" class="logo_sticky">
            </a>
        </div>
        <!-- /top_menu -->
        <a href="#menu" class="btn_mobile">
            <div class="hamburger hamburger--spin" id="hamburger">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </div>
        </a>
        <nav id="menu" class="main-menu">
            <ul>
                <li><span><a th:href="@{/}" href="#">Home</a></span></li>
                <li><span><a th:href="@{/cafe}" href="/cafe-list.html">StudyCafe</a></span></li>
                <li><span><a href="#0">StudyGroup</a></span>
                    <ul>
                        <li><a th:href="@{/group/mygroup}" href="#">My Group</a></li>
                        <li><a th:href="@{/group}" href="#">StudyList</a></li>
                    </ul>
                </li>
                <li><span><a th:href="@{/support/contact}" href="/contact">Contact</a></span></li>
                <li><span><a th:href="@{/support/help}" href="/help.html">Support</a></span></li>
                <th:block th:if="${session.loginMember} == null">
                    <li>
                    <span>
                        <a data-bs-toggle="modal" data-bs-target="#loginModal" href="#" title="LOG IN">
                            <i class="fa-solid fa-arrow-right-to-bracket fa-2xl me-1"></i>
                            LOGIN
                        </a>
                    </span>
                    </li>
                </th:block>
                <th:block th:if="${session.loginMember} != null">
                    <li>
                        <span>
                            <a th:href="@{/mypage}" title="MY PAGE">
                                <i class="fa-regular fa-circle-user fa-2xl me-1"></i>
                                MyPage
                            </a>
                        </span>
                    </li>
                    <li>
                        <span>
                            <a th:href="@{/member/logout}" title="LOG OUT">
                                <i class="fa-solid fa-arrow-right-from-bracket fa-2xl me-1"></i>
                                LOGOUT
                            </a>
                        </span>
                    </li>
                </th:block>
            </ul>
        </nav>
    </header>
    <!-- /header -->

</th:block>
</html>
