<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="logout-popup">
    <!-- Logout Modal -->
    <div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide">
        <div class="small-dialog-header">
            <h3>로그아웃</h3>
        </div>
        <div class="sign-in-wrapper">
            <div class="clearfix add_bottom_15">
                로그아웃 하시겠습니까?
            </div>
            <div class="text-center">
                <a th:href="@{/member/logout}" href="#" class="btn_1 full-width">로그아웃</a>
            </div>
        </div>
    </div>
    <!-- /Logout Modal -->
</th:block>

</html>